[2012-12-11 11:55] lemmy04 opened #1 "Does not detect my logitech receiver"
I've installed the udev rules, but solaar-cli just says "could not detect unifying receiver"... any further advice?

[2012-12-11 12:27] #1 closed, assigned to nobody

[2012-12-13 11:37] pwr opened #2 "debian packages for testing/sid"

[2012-12-13 11:37] pwr opened #3 "Ubuntu ppa"

[2012-12-13 11:37] pwr opened #4 "support multiple connected receivers"

[2012-12-13 11:38] pwr opened #5 "no battery status on M510 mouse"

[2012-12-13 11:38] pwr opened #6 "make devices configuration persist across application runs and device disconnects"

[2012-12-31 00:53] ledbettj opened #7 "Issues with battery and lux images after installing"
Hi there,  glad I found this awesome project -- thanks!

I have some minor issues with images not appearing on my Arch Linux install.  Let me know if this is something I did wrong or an actual bug :bug:.

![Screenshot](https://dl.dropbox.com/u/37711080/solaar.png)
### What I did:
1. replaced `/usr/bin/env python` with `/usr/bin/env/python2` in `solaar`, `solaar-cli`, and `setup.py`.
2. ran `sudo .

[2013-01-05 03:20] #7 closed, assigned to pwr

[2013-01-05 03:20] pwr opened #8 "indicate when the battery is charging"

[2013-01-05 13:44] #2 closed, assigned to pwr

[2013-01-07 15:12] RussianNeuroMancer opened #9 "It's possible to run few instances of application simultaneously"
To reproduce this issue try to run 2nd, 3rd instance of Solaar GUI application.

[2013-01-07 15:18] RussianNeuroMancer opened #10 "Changing DPI doesn't work"
At least on Kubuntu 13.04 (Solaar installed from PPA) with Performance MX.

[code]

[2013-01-07 15:23] RussianNeuroMancer opened #11 "Some icons is not displayed in Kubuntu"
That probably packaging issue (Solaar installed from PPA) because some despondency left:

![solaar](https://f.cloud.github.com/assets/2613247/47594/eed77cf2-58dd-11e2-996c-5584c772abdb.png)

Icon in tray and also icon of Quit item in tray menu is not displayed.

[2013-01-07 23:12] #3 closed, assigned to pwr

[2013-01-08 19:39] #9 closed, assigned to pwr

[2013-01-10 07:56] #10 closed, assigned to pwr

[2013-01-15 12:12] pwr opened #12 "auto-hide the application window after a timeout, if it was shown by the Solaar button"

[2013-01-15 12:13] pwr opened #13 "don't show notifications for actions the user took him/herself"
like device powered on/off

[2013-01-15 21:42] terwarf opened #14 "Command line switch for hiding main window on startup"
Would be nice to be able to start the gui part minimized to system tray instead of showing the main window on startup. As -h for --hidden is a bad idea, what's about -M and --no-mainwindow?

Thank's a lot for this great tool - really makes me enjoy my logitech mouse...

Btw.:
The tool doesn't report the battery level on my mouse (Performance MX) - if i can help with that in any way please let me k

[2013-01-19 11:57] #14 closed, assigned to pwr

[2013-01-24 08:17] lemmy04 opened #15 "wish: publish some contact email on the website :)"
Just FYI, rpm packages of Solaar 0.8.7 for openSUSE 12.2 are in my OBS repository:
http://software.opensuse.org/package/Solaar?search_term=solaar

[2013-01-25 12:28] #15 closed, assigned to nobody

[2013-03-24 11:09] Nek- opened #17 "Doesn't get root access by himself (Ubuntu)"
Hello,

Solaar doesn't get root access but he need it.

Of course the reflex is to execute "sudo solaar" in a terminal, but the real command is not solaar.

[code]

[2013-04-13 18:52] brumoen opened #18 "Logitech Wireless Keyboard MK700 Fn functionality"
Hi, I've just bought myself a new Logitech combo, MK710. Which is a K710 Keyboard and a M705 Mouse. I've ditched the mouse for a Performance MX mouse instead and with Solaar it works fine to switch the DPI so thanks for that.. :+1:
But I'm trying to find a way to switch the Fn functionality for the keyboard. As I see your script should be able to handle that, but I guess it needs some identifier i

[2013-04-26 20:34] Lekensteyn opened #19 "gh-pages: typo in URL, lists look ugly"
There is a small typo in the Launchpad URL on [gh-pages](http://pwr.github.io/Solaar/), it lists httpwp://... instead of https://... I did not do a pull request as I do not know whether you need to manually edit those pages or via GH.

Text in `<li>` should not be wrapped in `<p>` , it now looks quite ugly (note the bullets):
![screenshot](https://f.cloud.github.com/assets/164530/432826/62018fec-a

[2013-04-26 21:41] Lekensteyn opened #20 "GUI window stays hidden when minimized and tray icon is clicked"
After minimizing the GUI window, and clicking the tray icon, the main window stays hidden behind some other windows. Alt+Tab shows the window again though.

This is on KDE 4.10.2 on Arch Linux.

[2013-04-27 08:06] #19 closed, assigned to nobody

[2013-04-27 08:11] Lekensteyn opened #21 "Concurrent device access causes interference between programs"
When I tried to run `scan-registers.sh` while solar was running, it tagges wrong messages as a response to another (solar periodically reads the battery register 07).

Part of the solution:
- Use the following hints to match responses and requests:
  - the device index, type and register.
  - in case type=ERROR_MSG (8F), compare the device index and the Sub ID plus register of the error message to

[2013-04-27 14:42] Lekensteyn opened #25 "merge/hide notifications on startup"
With two devices plugged in, Solaar shows me three notifications, basically:
- Receiver: You have two devices!
- Keyboard connected
- Mouse connected

What about being less verbose with notifications and merging them?

[2013-04-28 09:31] Lekensteyn opened #27 "Use notifications instead of polling for determining battery status"
I can confirm seeing a 07 register notification when the battery drops from three bars ("full"  /"90%") to two bars ("good" / "50%"). This required setting the Battery Status flag in the HID++ notifications register of the device (K800).

Does HID++ 2.0 have similar notifications?

[2013-04-30 18:51] #20 closed, assigned to pwr

[2013-04-30 20:25] Lekensteyn opened #29 "Python3 breakage due to use of unicode class"
`unicode` does not exist in Python 3, it has been replaced by `str`. After commit feedbcf (nice commit hash btw), I could not start the program unless I specify python2 as interpreter.

Trace:

[code]

grep for all unicode words:

[code]

[2013-04-30 20:32] #29 closed, assigned to nobody

[2013-04-30 21:39] Lekensteyn opened #30 "Low battery notification"
(some code paths are related to #27)

Currently the battery status in the UI is updated unconditionally. If a the battery status is not changed, it is still overwritten.

If notifications for low battery levels are added, it is probably not a bad idea to compare the values before setting them (relying on notifications preventing duplication is not enough, if the battery level keeps updated, the us

[2013-05-02 19:37] Lekensteyn opened #31 "Support reprogrammable keys"
As requested in http://superuser.com/q/466253/47108.

The keyboards seem to allow changing the functionality of Fn + Fx keys, instead of "Email", another event is generated (I haven't checked whether this is a regular keymapping that is sent to the input layer or only a HID++ notification).

I will probably start working on this next week.

[2013-05-02 20:51] Lekensteyn opened #32 "Consistently use byte/str everywhere"
Python2 and python3 differ in the handling of bytes and unicode. In python2, unicode is not equal to str. In Python3, bytes are not equal to str:

[code]

Todo:
- `read` in `hidapi/udev.py` returns type `bytes` on Python3 instead of `str`.
- Change every check for `type(foo) == unicode or type(foo) == str` (or `isinstance`). `unicode` has gone in Python3, this became `str`. `isinstance('', bytes)`

[2013-05-03 09:04] Lekensteyn opened #35 "[bug] Crash on suspend/resume due to udev monitor being interrupted"
[code]

[2013-05-03 10:47] Lekensteyn opened #36 "Notification do not always get processed and gets crazy with debug patch"
I observe that a device does not get removed from the UI, nor does the debugging log show any indication that the Device Disconnection (0x40) notif is processed. I ran the `ltunify unpair 1` tool in order to unpair device at device index 1.

My initial debugging attempts made me think that there is a race condition going on in notification processing, or that side-effects of functions `str` cause

[2013-05-04 12:00] #13 closed, assigned to pwr

[2013-05-04 12:02] #4 closed, assigned to pwr

[2013-05-04 12:06] #35 closed, assigned to nobody

[2013-05-04 16:32] #5 closed, assigned to pwr

[2013-05-05 08:35] #17 closed, assigned to nobody

[2013-05-06 10:06] #36 closed, assigned to pwr

[2013-05-06 16:19] terwarf opened #43 "Replace systray icon with battery status"
Is it possible to replace the systray-solaar-icon with the battery symbol if only one device is connected (or show the battery status for the device with lowest battery level) if no device with solar cell is present?

Or show the battery levels of each connectet device in the tooltip?

[2013-05-06 16:43] terwarf opened #44 "Solved: Main window is empty on second opening"
When starting solaar (with 'python solaar' in the bin dir (which means python3)) and opening the main window for the first time, everything is working fine:

![bildschirmfoto1](https://f.cloud.github.com/assets/2771041/467022/095cc80c-b66c-11e2-9fa9-96489bc4aaa0.png)

As soon as I close the main window and reopen it, it's empty:

![bildschirmfoto2](https://f.cloud.github.com/assets/2771041/467026/

[2013-05-06 16:48] #44 closed, assigned to nobody

[2013-05-06 16:58] pwr opened #45 "Status icon may become inconsistent when two receivers change state."
The icon is also red after the following steps:
1. Have two receivers plugged in.
2. Start Solaar.
3. Unplug one receiver.
4. The status icon is now red and stays red.

Reported in #43.

[2013-05-17 16:33] pwr opened #46 "status icon -> Quit does not close the application if the About window is open"

[2013-05-17 19:34] #45 closed, assigned to nobody

[2013-05-17 19:55] #27 closed, assigned to nobody

[2013-05-18 09:15] #43 closed, assigned to pwr

[2013-05-18 14:21] RussianNeuroMancer opened #47 "Build 0.8.8-3 crash"
Build 0.8.8-3 (latest update in PPA) is crash for me in Kubuntu 13.04 x86_64:

[code]

Please let me know if I need to provide additional data.

[2013-05-19 08:45] Lekensteyn opened #49 "[bug] Wrong charging state is reported for Performance MX"
As reported by @terwarf in https://github.com/pwr/Solaar/issues/8#issuecomment-18113402.

[2013-05-19 16:06] #47 closed, assigned to nobody

[2013-05-19 20:35] ivotron opened #50 "Support multiple receivers"
Wondering if it's possible to find a way to pair a device with multiple receivers.

[2013-05-19 20:38] #50 closed, assigned to nobody

[2013-05-20 21:58] cdprincipe opened #51 "Support for Nano Receiver and M215 (Logitech Connection Utility)"
My Logitech M215 works well with Solaar and some other old nanoreceiver periphericals (like my Logitech M215) works with Unifyng Receiver but after isn't possible reconnect with nano receiver via Solaar
Under Windows is possible with Logitech Connection Utility...
http://www.logitech.com/en-us/support/articles/3516
Under Linux is possible with lomoco using lomoco_reconnect.c :
http://blog.cryptomi

[2013-05-21 21:45] pwr opened #52 "Support Performance MX indicator LEDs"
The 3 LEDs should be able to show battery charge and/or DPI level.
However, they should not be always lit up to conserve battery.

[2013-05-21 21:50] pwr opened #53 "Add an indicator for Ubuntu's Unity"

[2013-05-21 22:19] #49 closed, assigned to nobody

[2013-05-23 09:58] #51 closed, assigned to nobody

[2013-05-23 10:07] cdprincipe opened #55 "Update PKGBUILD for Archlinux"
The PKGBUILD for the stable release of Solaar, included in git repo, is obsolete:
with systemd the udev rules are automatically reloaded, install script is no needed
This PKGBUILD is enough

[code]

[2013-05-23 11:14] #55 closed, assigned to nobody

[2013-05-25 22:36] #30 closed, assigned to pwr

[2013-05-25 23:04] #46 closed, assigned to nobody

[2013-05-26 19:40] Lekensteyn opened #58 "solaar-cli: does not terminate on succesful pairing"
Debug output:

[code]

I have only tested with two HID++2.0 devices, a HID++1.0 keyboard is not near me. `ltunify` works without issues.

[2013-05-27 13:25] #58 closed, assigned to nobody

[2013-05-27 13:33] #32 closed, assigned to nobody

[2013-05-30 16:42] torpak opened #62 "Gnome 3 / gnome-shell support"
Solaar does not integrate well into Gnome3 at the moment. Even with the Icon Whitelist it isn't really useable. Since i have 3 devices with unified support it would be great to have this great program work in my prefered environment.

[2013-05-30 23:02] #62 closed, assigned to nobody

[2013-06-01 22:15] #53 closed, assigned to nobody

[2013-06-01 22:15] #8 closed, assigned to pwr

[2013-06-04 23:22] #18 closed, assigned to pwr

[2013-06-05 13:48] damsweb opened #64 "Changelog not up to date and bad name for tarball"
Hi,

The tarball is missing "solaar" in its name: https://github.com/pwr/Solaar/archive/0.8.9.1.tar.gz

Moreover, Changelog file inside tarball is not uptodate (same issue for git, Changelog not updated for 0.8.9.1).

Minor but missing. :-)

[2013-06-05 15:08] #64 closed, assigned to nobody

[2013-06-06 10:31] #11 closed, assigned to pwr

[2013-06-07 14:14] damsweb opened #65 "Update icon for better rendering"
Hi,

Please update icon of solar to 256x256 or provide a svg file.
For now, under GNOME3, rendering is not smooth because of the icon enlargement.

Thanks!

[2013-06-13 10:31] damsweb opened #66 "Better way to have access to /dev/hidraw* with udev (no need of group)"
Hi.

I'm the packager of Solaar for Mageia.
I encountered an issue with Mageia and the udev rules as we don't have the 'plugdev' group under Mageia and as by default our user is not part of 'users' of other group.
My idea was to use uaccess, so I did a sed in the udev rules:

s/GROUP="plugdev", MODE="0660"/TAG+="uaccess"/

With this, no more need to be part of X or Y group.
I also renamed the udev

[2013-06-16 21:22] #66 closed, assigned to nobody

[2013-06-18 03:38] #6 closed, assigned to pwr

[2013-06-25 14:21] #65 closed, assigned to nobody

[2013-06-30 10:38] cdprincipe opened #68 "I cannot swap Fx button on K400 keyboard on lastest git build"
![schermata da 2013-06-30 12 37 43](https://f.cloud.github.com/assets/4077695/727169/231ffc34-e171-11e2-9eac-68041f99e3b2.png)

[2013-07-01 14:15] luisalvarado opened #69 "Wishlist"
This are no bugs so much as Wishlist. If this is permitted, I have 3 wishes.
1. To have an option that shows in the tray icon the battery percent and not just the battery icon and how much battery it has. This would save the user from having to click on the Solaar icon, then on the specific mouse option to see the percent.
2. Have an option to show the percent right next to the name of the mouse w

[2013-07-01 14:31] pwr opened #70 "Show the battery percent in the systray icon"
From #69:

To have an option that shows in the tray icon the battery percent and not just the battery icon and how much battery it has. This would save the user from having to click on the Solaar icon, then on the specific mouse option to see the percent.

[2013-07-01 14:31] pwr opened #71 "Show the battery percent in the devices tree"
From #69:

Have an option to show the percent right next to the name of the mouse when I click on the Solaar icon. For example, I have a Anywhere Mouse, so instead of just saying Anywhere Mouse, it would say "Anywhere Mouse - 25%". Saves me from having to click on it to see the percent.

[2013-07-01 14:31] pwr opened #72 "Keep records of battery charge per device"
From #69:

Have the ability to check how long the batteries lasted. This can be accomplished by resetting a timer that only starts when it detects the battery at 100%. When the percent is at 100% the timer starts and it will only reset itself when the percent makes a huge jump, for example, changing from 50% battery to 100% which would only mean I changed to new batteries or the mouse was charged.

[2013-07-01 17:37] #71 closed, assigned to pwr

[2013-07-01 17:40] pwr opened #73 "devices in the main window are not kept in the right order"
They should be in the receiver's index order.

[2013-07-01 17:50] #68 closed, assigned to nobody

[2013-07-02 10:21] #69 closed, assigned to nobody

[2013-07-02 10:47] pwr opened #74 "add `solaar-cli scan` command"
Will do a full scan of all receivers and devices, probing all registers and features.

[2013-07-02 12:48] cdprincipe opened #75 "I cannot unpair Mouse M215 from Nano Receiver on lastest git build"
In the past it was possible to do it on older versions. If you need more details I'm available.
![schermata da 2013-07-02 14 41 48](https://f.cloud.github.com/assets/4077695/736359/a22928e8-e315-11e2-85be-7e2503c73645.png)

[2013-07-04 07:59] RoSk0 opened #76 "Auto start doesn't work on Ubuntu 13.04 x32"
Would be appreciated in any help to solve this issue. If you need any additional info just ping me.

[2013-07-04 13:29] #76 closed, assigned to pwr

[2013-07-04 13:30] pwr opened #77 "packaging: add a .desktop file to xdg/autostart"

[2013-07-05 13:13] cdprincipe opened #78 "I would like to help in creating the Italian translation"
The question is simple: how can I do?

[2013-07-05 15:56] pwr opened #79 "add internationalization support to Solaar"

[2013-07-06 23:30] #52 closed, assigned to pwr

[2013-07-07 12:10] aleho opened #80 "Remember DPI value"
Every time I startup the system I have to reset the DPI value of my performance MX (it defaults to 900 it seems). Are you planning on implementing a setting for that or should that already be there and is broken here?

Back when I reverse engineered the DPI protocol I noticed that whenever the device went to sleep I had to reset the desired value after waking it up.

I haven't looked at the protoc

[2013-07-07 14:06] #80 closed, assigned to pwr

[2013-07-07 15:51] aleho opened #81 "Integrate with Gnome"
Gnome Shell can show battery percentage of various devices out of the box, including mice and keyboards.

As far as I know they're relying on upower to do this. I don't know whether there's another interface (dbus?) to report battery values to gnome-power-manager but I know Julien Danjou wrote some upower patches [1] to read HID+ devices (tailored to his K750).

If Solaar could somehow report devi

[2013-07-12 12:38] #75 closed, assigned to pwr

[2013-07-12 12:38] #77 closed, assigned to pwr

[2013-07-12 13:34] #73 closed, assigned to pwr

[2013-07-13 02:04] braveheartleo opened #82 "solaar-0.9.0-1 only shows 'Nano Receiver' in main window, but displays 'Wireless Mouse M187' from notification icon"
Thank you for solaar in Ubuntu.

About my system:

[code]

I'm running solar on Xubuntu Precise, and I'm only getting 'Nano Receiver' as the only item in the main window. But the notification icon shows differently:

[code]

Because of this, I'm unable to do anything with the GUI, like view device properties, or pair/unpair devices.

Also, I'm seeing captured errors thrown by solaar in xsession-er

[2013-07-13 09:07] #82 closed, assigned to nobody

[2013-07-13 10:34] phw opened #83 "Integrate into Gnome 3 panel"
As far as I can see Solaar currently supports either the classic tray icon or the Unity appindicator. It would be nice to also integrate it into the gnome-shell panel.

I am no expert on this, but AFAIK this is not that trivial and requires both a dbus service and an JavaScript gnome-shell-extension which actually displays the appmenu, the whole procedure is outlined at http://www.codeproject.com/

[2013-07-13 14:54] anubeon opened #84 "Status icon could be conflated with that of system power."
Currently, Solaar appears to use the some generic battery icon as is used by the systems default power indicator. I'd suggest switching to the gpm/xfpm-mouse-\* icons in stead, to avoid conflating the two. I realise of course that solaar caters to keyboards and other devices besides mouses/mice_, but I would imagine that there are a hell of a lot more wireless logitech mouses/mice_ out there than

[2013-07-13 16:08] MagicFab opened #85 "Fontconfig warning: "/etc/fonts/conf.d/65-droid-sans-fonts.conf" when launched from command line"
These messages show up when solaar is launched from command line:

Fontconfig warning: "/etc/fonts/conf.d/65-droid-sans-fonts.conf", line 103: Having multiple values in <test> isn't supported and may not work as expected
Fontconfig warning: "/etc/fonts/conf.d/65-droid-sans-fonts.conf", line 138: Having multiple values in <test> isn't supported and may not work as expected

They seem to be only cos

[2013-07-13 17:03] #85 closed, assigned to nobody

[2013-07-13 18:00] #83 closed, assigned to nobody

[2013-07-16 03:19] wisemagic opened #86 "Side Scroll"
With a Marathon Mouse 705, after unifying with the Logitech K800 Keyboard, the mouse loses the ability to scroll left and right with the wheel. Going back to using separate receivers for each device fixes the problem with side scrolling. So, for me, the Solaar software is of no value.

[2013-07-16 15:47] endorama opened #88 "V550 Nano not recognized"
Hello I've installed solaar using [this guide](http://www.webupd8.org/2013/07/pair-unpair-logitech-unifying-devices.html) and checked device compatibility with `lsusb -d 046d:`

My mouse is a [V550 Nano Laser mouse](http://www.logitech.com/en-us/support/4611?crid=398).

Unfortunatly Solaar do not found the device, boh from CLI and GUI ( the mouse is working correctly ).

Some debug outputs:

[code

[2013-07-17 02:37] MagicFab opened #89 "V450 Nano recognized and works, but shows up as "?(1011)""
I got a "V450 Nano Cordless Laser Mouse for Notebooks" - http://www.logitech.com/en-us/support/4335?crid=398.

It is properly recognized and works in Solaar 0.9.1 (Debian 7), it uses an older Nano receiver (not the unifying receiver) which is identified correctly. However the mouse itself shows up only as "?(1011)". The power button is on the bottom.

This seems entirely cosmetic - the mouse works

[2013-07-17 18:02] #79 closed, assigned to pwr

[2013-07-17 18:02] #89 closed, assigned to pwr

[2013-07-18 06:00] KingYes opened #90 "I can't get my T650 Touchpad to works.."
Hi !
I install your Solaar on my system(3.9.9-1-ARCH), and I can't get it work..

In my first time when I running your scripts, It's really detect my Touchpad. But I press Unpair, and after this I try to pair it again and again, but no result.

BTW, when I run with cli tool, this is what I get:

[code]

Thank you for support !

[2013-07-18 12:07] #88 closed, assigned to pwr

[2013-07-18 14:24] #90 closed, assigned to pwr

[2013-07-18 18:41] #86 closed, assigned to pwr

[2013-07-18 19:10] pwr opened #91 "Button assigments (reprogrammable keys)"
Or better yet, use something already existing, like xbindkeys.

[2013-07-18 19:11] pwr opened #92 "T650/touchpad gestures"
Not certain how viable is implementing this.

[2013-07-19 09:15] hostalerye opened #93 "Fails to detect Unifying Receiver"
Hi, first thank you for your work !
I've tried Solaar on my laptop running on Archlinux, and it works well.
But when I try it on another laptop on Debian 7.0, I got this error when I plug the receiver
Traceback (most recent call last):
  File "/usr/share/solaar/lib/hidapi/udev.py", line 142, in _process_udev_event
    d_info = _match(action, device, *filter)
  File "/usr/share/solaar/lib/hidapi/ud

[2013-07-19 09:50] #93 closed, assigned to pwr

[2013-07-19 12:54] akuhl opened #94 "GUI won't start , shows GTK errormessage"
Starting latest Solaar fails with the following error message:

---

/usr/lib64/python2.7/site-packages/gi/overrides/Gtk.py:46: RuntimeWarning: You have imported the Gtk 2.0 module.  Because Gtk 2.0 was not designed for use with introspection some of the interfaces and API will fail.  As such this is not supported by the pygobject development team and we encourage you to port your app to Gtk 3 or

[2013-07-20 12:33] #94 closed, assigned to nobody

[2013-07-27 20:01] RoSk0 opened #96 "No battery data on M515 Coach after upgrade to 0.9.1"
I don't remember what version was installed previously, but it was installed from our PPA. I'm using Ubuntu 13.04 x32.
Thanks in advance.

[2013-07-28 15:51] david-geiger opened #97 "Added French Translation"
Hello,

User of solaar on Mageia, I have a proposal for French users:
Would it be possible to add French translation for solaar ?

[2013-07-29 15:19] mattld opened #98 "Allow unpriveleged user to choose autostart behavior."
Currently a solaar.desktop file is placed in /etc/xdg/autostart at install. This requires root for the user to choose autostart behavior. Solaar.desktop should instead be placed in ~/.config/autostart so that root is not required to change autostart behavior.

[2013-08-01 07:25] #96 closed, assigned to nobody

[2013-08-03 07:16] m4tx opened #99 "Solaar uses 100% of one logical CPU"
I don't really know how to reproduce it. Maybe it's because I plugged the Unifying receiver yesterday, turned off the computer and today before turning it on, I plugged it back in - maybe that information will be helpful. Anyway:
Solaar sometimes uses 100% of one logical CPU (in my case, it's shown as 12% of CPU). And that's not all. It also lacks memory. At the start of writing this bug report, i

[2013-08-04 05:02] nexces opened #100 "Incomplete translation"
When Solaar is showing system notification there is a missing translation.
As you can see on the screen below battery is correctly translated into "Bateria" but, "discharging" stays intact.
When I was doing the polish translation I've seen and translated "discharging" but I think that it is not used in system notification.
![screen02](https://f.cloud.github.com/assets/1590303/906652/6e2b2458-fcc2-

[2013-08-04 05:14] nexces opened #101 "Control over taskbar icon"
I've got two devices attached to a single receiver and I would love to see mice battery status rather than keyboard battery status.
It would be awesome if a user could decide what device to show (if it is connected).
The fallback 'device picker' could be the first connected device according to receiver index.
But I do not have any idea how to solve two or more receivers case.
Or maybe Solaar could

[2013-08-05 19:41] MeathooK427 opened #104 "Logitech K400r keyboard/mouse combo inoperable at boot - must re-pair"
My Logitech K400r wireless keyboard/mouse combo works, but only after I re-pair it at every boot. Solaar shows the keyboard/mouse paired at boot, however it is inoperable. It only begins working after I unpair it, then re-pair it manually. Let me know what logs/commands you need me to run to figure this out, thanks!

[2013-08-07 19:35] zipperten opened #108 "Error when running on swedich translation"
I found that my sv.po file generates errors in terminal, it looks alright  in the program, the Swedich letters åäö show up  but the terminal looks bad.
The charset is set to UTF-8
What can i do to fix this?

Errors in terminal:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/gi/overrides/GLib.py", line 629, in <lambda>
    return (lambda data: callback(*data), user_dat

[2013-08-08 14:17] #97 closed, assigned to nobody

[2013-08-08 15:41] #104 closed, assigned to nobody

[2013-08-09 10:26] #100 closed, assigned to pwr

[2013-08-09 10:26] #101 closed, assigned to pwr

[2013-08-09 10:26] #108 closed, assigned to pwr

[2013-08-09 13:36] MagicFab opened #109 "Logitech Cordless Desktop LX 710 Laser keyboard + mouse: receiver not recognized"
I got a "Cordless Desktop LX 710 Laser" mouse + keyboard combo from Logitech: http://www.logitech.com/en-us/support/147

I am not sure if this could/should be managed via Solaar, but thought this report would at least document it.

The keyboard and mouse are properly recognized and work fine in GNU/Linux (Debian 7), but the receiver isn't recognized (nor keyboard / mouse) in Solaar 0.9.2.

This us

[2013-08-09 14:01] MagicFab opened #110 "Logitech R-RB5 2.4 GHz Cordless Presenter: receiver not recognized"
I got a "2.4 GHz Cordless Presenter" (model no: R-RB5) from Logitech: http://www.logitech.com/en-us/support/175

I am not sure if this could/should be manageable via Solaar, but thought this report would at least document it.

The presenter is properly recognized and works fine in GNU/Linux (Debian 7), but the receiver isn't recognized (nor the presenter) in Solaar 0.9.2.

This uses an older "Mini

[2013-08-11 04:21] nexces opened #111 "Solaar not detecting receiver after wake up"
After waking my computer up Solaar does not detect my receiver. I'm not really sure if that's a system issue or Solaars.

I'm using Ubuntu 13.10 Saucy Salamander (still in development stage).

What can I do to help track cause of this issue?

Edit 1:
When I restart Solaar everything is OK.

[2013-08-13 06:27] nexces opened #112 "Missing device and hang after quit attempt"
Solaar is not detecting my keyboard now (K360) and I cannot quit Solaar using systray menu as it hangs.
I need to kill the process or press Ctrl^C in terminal.

Commit: 69febfcea54cc734327ec65421fa7fcf9480fb84
Current kernel: 3.11.0-1-generic
Distro: Ubuntu Saucy Salamander (development branch)
UPower client/daemon version: 0.9.21/0.9.21

Here is output from solaar -dd:

[code]

[2013-08-13 09:17] #110 closed, assigned to nobody

[2013-08-15 05:58] #112 closed, assigned to nobody

[2013-08-20 21:30] Lekensteyn opened #115 "Disabling side-scrolling breaks mouse events in KDE"
I got the Anywhere MX from Nestor (from Logitech) and decided to test some things. While doing so, I noticed that the "Side-scrolling" option does more than advertised.

Initially I used the Solaar GUI to toggle settings, but changing the side-scrolling setting breaks.

In KDE 4.11 (Linux 3.11-rc6), it moves the mouse pointer, but window focus and clicks are not registered.

Here is an annotated u

[2013-08-21 20:30] david-geiger opened #119 "Incomplete translation_2"
Hello,

Another translation that does not work correctly, when Solaar displays a notification to prevent a discharged battery to 5% (almost empty).
in French it should be "Batterie: 5% (En décharge)" and not "battery: 5% (discharging), see the screen:

![capture d cran3](https://f.cloud.github.com/assets/4344460/1004335/5555017e-0aa0-11e3-9bda-21c0032b476a.png)

[2013-08-25 20:03] #119 closed, assigned to pwr

[2013-08-26 20:56] #115 closed, assigned to nobody

[2013-08-27 15:27] Lekensteyn opened #120 "Quit functionality is broken in Python 3"
When trying to quit Solaar through the systray, the window gets closed but the application is still active in the tray (although unresponsive). I do not get any errors with debugging enabled though.

Python3 has another oddity, when I move my mouse with Python 2, I get a lot of debugging messages saying that a notification was ignored. In python 3 this is not printed (not a bad thing though, solaa

[2013-08-27 22:07] #81 closed, assigned to nobody

[2013-08-28 16:06] #99 closed, assigned to pwr

[2013-09-08 15:33] jasonevines opened #122 "Have to un-pair / re-pair after each reboot"
Whenever I reboot Ubuntu, my Performance Mouse MX doesn't work, even though Solaar is aware of my receiver and mouse. I have to use my laptop trackpad to open the Performance Mouse MX Solaar options and then un-pair and re-pair the mouse for it to work again.

[2013-09-08 20:31] #122 closed, assigned to nobody

[2013-09-17 06:49] tomyri opened #123 "cli config can't read current values"
I can't read current values in console, but I can set them if I use exact values. But for DPI, higher or lower doesn't change anything. GUI seems to read the value right.

tomi@ArchAlly ~> solaar config 1
Performance Mouse MX (Performance MX) [101A:8D4A1FDC]

Sensitivity (DPI)
solaar: error: 'NoneType' object has no attribute 'replace'

Using master branch.
Python 3.3.2, ArchLinux

[2013-09-17 17:39] carscott opened #124 "Logitech K750 keyboard lighting value not updated"
The lux value is not updated from the keyboard button or from the solaar icon.

The only way to get the new value  is to restart solaar. Is this the expected behaviour

Using Linux Mint 13 with all updates on Acer Aspire Revo R3600

Python 2.7.3 (default, Apr 10 2013, 05:09:49)

[2013-09-19 08:40] MestreLion opened #125 "Some receivers expected by Solaar GUI are not listed in udev rules file"
Besides my M525, I also have an old V220 wireless mouse. It comes with a USB receiver that shows in `lsusb` as:

`ID 046d:c51b Logitech, Inc. V220 Cordless Optical Mouse for Notebooks`

This is considered as a Logitech Receiver by Solaar (as `NANO_RECEIVER_C51B` in `lib/logitech_receiver/base_usb.py`), but this ID is not present in the udev rules file.

As a consequence, every time Solaar starts I

[2013-09-26 11:32] madmanidze opened #127 "Not propper working on 3.11 kernel"
Hello,

I using solaar on 3.11.1-031101-generic kernel from http://kernel.ubuntu.com/~kernel-ppa/mainline/v3.11.1-saucy/, and they not working when running first time, no see any devices. But when i run solaar-cli show, i have output:
Unifying Receiver [/dev/hidraw1:0BEF9E00] with 2 devices
1: Wireless Solar Keyboard K750 [K750:71E91FD4]
2: Performance Mouse MX [Performance MX:3897D1E1]
i remove ~

[2013-09-28 03:16] ltrager opened #128 "Logitech Mouse G602/C537 Receiver support"
Just got my preordered Logitech G602 mouse. Its shipping with a new receiver, the C537 which isn't being recognized by Solaar or ltunify so I can't even try the mouse settings.

The mouse itself works using the default settings, including changing the DPI through the hardware buttons and going back and forward when browsing.

[2013-09-30 00:45] robhoare opened #130 "Additional models supported"
The MK320 keyboard/mouse combo consists of a K330 keyboard, and an M215 mouse.  Both these were found, paired, and work fine with Solaar, thanks for producing such a useful and clear piece of software!  They don't appear to be listed in your compatibility list, yet.

Battery levels work for both items, no function key switch is shown for the K330.

Details:

M215 2nd Gen

Index        : 2
Wireless

[2013-09-30 13:35] madmanidze opened #131 "Not proper working on 3.11 kernel"
Hello,

Solaar not proper work on 3.11.1-031101-generic kernel from http://kernel.ubuntu.com/~kernel-ppa/mainline/

How can fix that ?

Thank you.

[2013-09-30 14:51] #131 closed, assigned to nobody

[2013-10-05 00:41] genright opened #132 "About box hidden by main window"
I'm running solaar 0.9.2, under kubuntu 12.04

When the main solaar window is open, I can click the about button. But nothing seems to happen.

Moving the main window reveals the about box hiding behind it. I am unable to raise that above the main window.

Looks like a line in lib/solaar/ui/window.py that forces it to be on top, perhaps that is not the best way?

[code]

I'm not seeing any special

[2013-10-12 19:41] beelze opened #133 "some python 3.2 issues"
I have python3 as default python interpreter. In general solaar works well with 3.2 but some minor issues were seen (my logitech devices are: unified receiver, K800 keyboard and performance mx mouse):
1. After solaar start – K800 no shown in tree, only mouse
2. K800 appeared in tree after I turned keyboard off (with hardware switch)

errors in console seems unrelated with this issues (same errors

[2013-10-22 17:40] Brian-K-Smith opened #135 "Solaar gui fails to load on first invocation, but not second"
The first time I start solaar it fails to load with this stack trace and hangs:

[code]

If I run it again from a new terminal, I get:

[code]

![image](https://f.cloud.github.com/assets/5714685/1383622/946ce3a6-3b40-11e3-9bcc-70b71f68a36f.png)

I think this instance is missing the ability to configure the device?

[2013-10-31 10:25] paolocent opened #137 "Solaar does not recognise unifying receiver (046d:c52b, K400r)"
Hello, I've installed Solaar in RaspBMC (a XBMC distribution for raspberry pi), I am using logitech K400r keyboard and i'd like to add another device, but Solaar does not recognise the receiver. I attach terminal responses. Thanks for help!

[code]

[code]

[code]

[2013-12-10 20:04] ngc-bg opened #140 "Solaar 0.9.2 doesn't start/work on Ubuntu 13.10"
Hello,

In my case, after installation (using pre-build package for ubuntu), solaar doesn't start via GUI or CLI neither.

lsusb -d 046d:

[code]

/usr/bin/solaar -dd

[code]

/usr/bin/solaar-cli -d show

[code]

I've tried both solaar and solaar-gnome3 packages, unfortunately without success.
My system is Ubuntu with 3.11.6-031106-generic kernel, Python 2.7.5+

Thanks,
NG

[2013-12-16 13:10] urbels opened #142 "Kubuntu can`t close window"
hello,

Can't close this window https://db.tt/S4dXxLgs

[2013-12-27 15:26] teissler opened #145 "Solaar did not detect icon theme"
Solaar installed on my arch system with kde did not detect my oxygen theme.

Solaar version: 0.9.2

Here is the log of solaar started with debugging from the cli

$ solaar -ddd
15:57:47,404     INFO [MainThread] root: language de_DE (UTF-8), translations path None
15:57:47,409     INFO [MainThread] solaar.ui: application /io/github/pwr/solaar, registered True
15:57:47,412    DEBUG [MainThread] sol

[2014-01-29 13:53] parkerlreed opened #148 "M325 battery info"
I submitted the change to the supported devices list saying that the battery is supported on the M325. I thought it may be working but the mouse has been reporting 70% battery ever since I got it. Not sure if it's something not being read correctly or if reading the battery just isn't supported (displaying a generic value instead).

I'd be happy to provide any extra info needed to debug this.

[2014-02-15 16:12] david-geiger opened #150 "About Solaar project"
For Author of the project:

What happens there with this project ? is it abandoned ?

because it has been a few months now that the project does not advance, and I find it very unfortunate given the value and effectiveness of Solaar software.

Regards david.david.

[2014-03-15 16:40] plumlis opened #151 "Solaar Ubuntu 14.04 Support?"
Ubuntu 14.04 is on its way to go,so could you provide a PPA update for 14.04?
maybe we can try it first and find some bugs :)

[2014-03-25 20:15] Keeze opened #152 "MK220 Keyboard/mousecombo"
Hi Peter,

Any chance that Solaar is going to support the [MK220 combo](http://www.logitech.com/en-za/product/wireless-combo-mk220)?

That would be great!

Cheers,
Kees

It reports itself as: `Bus 002 Device 008: ID 046d:c534 Logitech, Inc.`

[code]

[2014-03-27 00:14] strangelittlemonkey opened #153 "Logitech M510 not working in Debian 7 (XHCI, Linux 3.13)"
[code]

[2014-04-21 08:54] #151 closed, assigned to nobody

[2014-04-30 09:47] amias-channer opened #156 "ability to run a script on device insertion"
Hello Solaarians,

thanks for this tool and thanks for being cool and sharing it , it really makes my mouse better :)

i had a look and couldn't find something like this in solaar already , apologies if i missed it.

I have a suggestion , i have a little shell script i run to map the buttons on my performance mouse , i run it on session start but rarely log out . What would be great would be if so

[2014-05-06 18:52] eayin2 opened #157 "K830 Swap FN"
Please add the swap FN key option for the new K830 keyboard. For the Tk820 I can see the swap FN key option in solaar, but for the K830 solaar puts out this error message: "solaar-cli: error: no settings for Illuminated Living-Room Keyboard K830".
I am not sure if you need the K830 keyboard to add that support. If it is not difficult I could try to add support in solaar for the K830 myself.

[2014-05-09 10:28] AlicesReflexion opened #158 "Smooth scrolling absurdly fast for Performance MX"
Right now, the option to use Logitech's Stepless/Smooth scrolling is available in Solaar, but it's not particularly useful because everything scrolls at an unusably fast speed.

An ideal solution would probably be to let the user set scroll sensitivity.

[2014-05-15 09:52] karlitos opened #159 "Solaar displaying AttributeErrors in Fedora 20"
If I start Solaar from the commnad line in Fedora 20 with --debug parameter it prints AttributeError messages on every mouse movement:

<pre><code>
$ solaar --debug
11:49:11,528     INFO [MainThread] root: language cs_CZ (UTF-8), translations path None
11:49:11,533     INFO [MainThread] solaar.ui: application /io/github/pwr/solaar, registered True
11:49:11,567    ERROR [MainThread] root: Could not

[2014-05-23 09:17] cirosantilli opened #162 "Support fn-swap on K400 Touch."
Solaar 0.9.2 + Ubuntu 12.04 kernel 3.11.0 x86_64.

If I understand correctly, it is not currently supported: https://github.com/pwr/Solaar/blob/master/docs/devices.md If that is the case, feature request.

Input:

[code]

Outputs a failure to read:

[code]

Input:

[code]

Output:

[code]

Input:

[code]

Output:

[code]

[2014-05-26 00:51] ntzrmtthihu777 opened #163 "Mouse loses ability to click"
Not sure where this issue arrises, but every now and again my mouse (Wireless Trackball M570 [M570:ADC9A18D]) loses the ability to click; Note, I can still move it about, and sometimes I can click about inside of text fields, but in general it becomes useless.

The only workaround I know of for this issue is to switch to a tty and back to the xserver; this problem has arose with both the gnome-des

[2014-05-27 10:52] hughsie opened #164 "Please create an AppData file for Solaar"
Please consider writing and installing an AppData file with the application description and some screenshots, else Solaar looks really bad in the GNOME and KDE Software Centers. We'd love to showcase more applications, but without the extra data file we can't. See http://people.freedesktop.org/~hughsient/appdata/ for details; thanks!

Richard

[2014-05-28 07:10] asgrim opened #165 "Ubuntu PPA out of date"
https://launchpad.net/~daniel.pavel/+archive/solaar

I can see here that only Trusty has been updated recently - is there any chance of an updated version of Solaar past 0.9.2 to be released (`precise` in my case)?

[code]

[2014-06-01 07:51] micrococo opened #166 "Incorrect path in tools/po-update.sh on openSUSE"
Hi.

/usr/share/locale-langpack/$LL_CC/LC_MESSAGES/$1.mo should be /usr/share/locale-bundle/$LL_CC/LC_MESSAGES/$1.mo on openSUSE. Maybe you could check if the system is openSUSE in the script.

Greetings.

[2014-06-03 14:12] savingschampion opened #167 "Light option of solaar battery overview"
Can we have a version of the battery status indicator that works for dark backgrounds?

[2014-06-19 16:26] jtliii opened #169 "Performance MX mouse is not recognized"
I have a brand new Performance MX mouse and a fresh install of Mint 17, the keyboard works fine but the mouse isn't recognized. According to the compatibility list the Performance MX mouse is supported and I know the mouse works because this is a dual boot system with Windows and the the mouse works fine in Windows. Does Solaar simply add functionality to an already detected mouse or will it detec

[2014-07-24 00:43] ZzAntares opened #172 "When devices are discharging solaar window pops up, but is kind annoying!"
Hi, I want to know if is something I can do (a trick or something) to prevent the solaar gui window to pop up in the screen, this happens when my devices are discharging but still they have energy (sufficient energy for 2 days maybe more). It's anoying because can appear more than 3 times in a minute. Would be nice to see in the GUI an checkbox option "Open solaar GUI at device discharge", so I wo

[2014-08-20 07:35] oneiros-de opened #175 "Applet is not updated after suspend/resume"
I have a Logitech Performance MX.
The applet seems to communicate with the mouse only till a resume KDE login; so the battery state is never updated after repeated suspend/resume.

System is OpenSUSE 13.1, Solaar is 0.9.2

[2014-08-23 16:18] parkerlreed opened #176 "Lost pairing with nano receiver"
My grandfather's mouse (M310 - unifying capable) came with a non-unifying receiver. I without thinking  paired the M310 with my own unifying receiver. This has now rendered the original nano receiver useless. Is there any way to manually program the mouse with the unifying receiver I have?

Non-unifying

[code]

Unifying

[code]

[2014-09-04 21:13] darnells opened #177 "Cannot access /dev/hidraw error as a Likewise-open user"
When logged in as a Likewise-open (or PowerBroker Identity Services open) user, I receive an error message that Solaar cannot access the device /dev/hidraw3. These users are not conventional local users; they are authenticated against a Windows domain server. I added my Likewise user to the local plugindev group, but the error message persisted. Solaar worked when I logged in as a conventional loc

[2014-09-05 12:21] skitt opened #178 "License mismatch on the Solaar SVG files"
Hi Daniel,

The copyright file in packaging/debian specifies that the solaar*.svg files are available under a LGPL license, but the files themselves contain metadata specifying that they are available under a CC-BY-SA 3.0 license.

Which is the correct license?

Thanks in advance,

Stephen

[2014-09-30 08:35] JensErat opened #179 "Auto-enable smooth scrolling when enabling continuous scrolling"
Smooth scrolling feels nice in continuous scrolling mode (I'm using a M705), but in the stepped mode it makes the scroll wheel rather useless, as it already registers minor movements, making middle-clicks without scrolling very difficult. Automatically enabling smooth scrolling when switching to continuous mode (and disabling it vice-versa) would be a great improvement.

`xev` prints events when c

[2014-10-02 18:12] alchemyx opened #180 "MK710 on 046d:c52b does not get any config"
cerber ~ # lsusb -d 046d:
Bus 003 Device 007: ID 046d:c52b Logitech, Inc. Unifying Receiver
cerber ~ # solaar-cli -V
solaar-cli 0.9.2
cerber ~ # solaar-cli show
Unifying Receiver [/dev/hidraw3:63B892D1] with 2 devices
1: Marathon Mouse M705 [M705:AA2B2C6F]
2: Wireless Keyboard MK700 [MK700:64FBB53C]
cerber ~ # solaar-cli config 1
[AA2B2C6F:mouse]
# Marathon Mouse M705
# Smooth Scrolling
# possible

[2014-10-04 17:42] CraigAD opened #181 "Ubuntu PPA not working with Utopic 14.10"
I have tried to install using the daniel.pavel/ppa but run into version conflict.  If I then switch over to use the Debian repository, it works just fine.  I have tested using nano receiver and M705 with its unifying receiver.

Could the Ubuntu PPA be updated soon?

[2014-10-14 09:36] pvaret opened #184 "Cannot get/set config on M705 Marathon mouse after resuming from sleep."
Hello,

Thank you for making Solaar. It's a great little piece of software.

I can't get or set the config on my M705 anymore:

[code]

I had not looked at the config in a long time, so I don't know when it stopped working.

I tried unpairing and pairing again, unplugging the receiver, etc. No change.

That's with Solaar 0.9.2 on Ubuntu 14.04.

Is there a way I can peek under the hood to see what

[2014-10-29 04:04] drhardison opened #186 "Here's An Interesting One..."
Dear Daniel,
First let me thank you for creating such a wonderful tool.
I have an interesting problem I have a Logitech Keyboard MK700/MK710 and I can successfully pair it with Solaar and see that it has a full battery and that the connection is indeed encrypted as it should be.
When it hasn't been in use and I hit a few keys it renews the connection with Solaar, so my computer seems to be getting

[2014-11-07 13:20] bksunday opened #187 "Only first 3 Functions on MK700 Keyboard"
Hi,

I'm not sure if Solaar can help me here but I installed this because I was hoping it would give me the ability to use all MK700 Function keys, but every keyboard grabbing commands or settings in any apps does not get any event from Fn + F4 to F12. Only From Fn + F1, F2 and F3.
##### Receiver (from dmesg):
- usb 2-2.4.4: Manufacturer: Logitech
- logitech-djreceiver 0003:046D:C52B.0005: hiddev0

[2014-11-10 23:06] johnnykang opened #188 "Is it possible to compile Solaar project under OSX?"
This is more of the question than issue.

Is it possible to compile the Solaar under OSX? I can see there is some dep around the Linux kernel, but I want to be sure this is possible/not possible.

[2014-11-10 23:14] #188 closed, assigned to nobody

[2014-12-03 16:19] MagicFab opened #189 "Can't unpair old device / pair new device MX1100 receiver / M-RCR147 (MX1100) mouse [046d:c526]"
After getting a replacement receiver for a combo keyboard/mouse MX1100, the new receiver is recognized by Solaar but can't unpair the old device or pair the new one (buttons greyed out).

I am running Solaar 0.9.2 in Debian 7.

Receiver:
Path         : /dev/hidraw1
USB id       : 046d:c526
Serial       : A11B81B4
  Firmware   : 05.00.B0023
Notifications: wireless

Mouse:
Index        : 1
Wireless

[2014-12-08 12:45] eduards opened #190 "Error when calling "solaar""
got the following error after "solaar" command in the terminal:

Traceback (most recent call last):
  File "/usr/bin/solaar", line 43, in <module>
    import solaar.gtk
  File "/usr/share/solaar/lib/solaar/gtk.py", line 25, in <module>
    import solaar.i18n as _i18n
  File "/usr/share/solaar/lib/solaar/i18n.py", line 47, in <module>
    locale.setlocale(locale.LC_ALL, '')
  File "/usr/lib/python2

[2014-12-23 17:35] hbarmeter76 opened #191 "Swap Fn button"
Hello, I'm using a TK820, and the Swap Fn button works fine.

However, each time I dock my computer, or reconnect the keyboard in other ways, the setting for the swapped Fn button is lost. This is extremely annoying, since I cannot immediately use short cuts, such as Alt+F4 to close a window etc., but first have to go change the setting, and I do not reckon this is how it is menat to be. I am not

[2014-12-26 22:22] hanetzer opened #192 "Question: solaar needed for use or just pairing?"
Asking if it's required to use the device if already paired or just for the pairing and unpairing operations.

[2014-12-31 18:26] Kwpolska opened #194 "Shows a useless notification upon startup"
When I start Solaar up, it shows a notification claiming my keyboard is _connected_ (not that I already noticed by typing my password on it…)  This is unnecessary, and especially bad if it’s in autostart, which [happens by default](https://github.com/pwr/Solaar/blob/master/setup.py#L15) (without even asking for permission!)  There should be an option to disable all notifications altogether; or at

[2015-01-01 20:50] katzzero opened #195 "Theres anyway to compile for ARMv6 ?"
First of all, congrats for the good work! :)
I´m new to programing and i tried to compile for armv6 (raspbian-raspberry pi) with no luck.
i need to use a MK270 combo in it but it looses the keyboard and mouse all the time and need to reset.
i use it only in terminal and i dont need the graphic, only the CLI.
Can anyone show me a way to do it ? if its possible.
Thanks in advance !

[2015-01-02 09:58] Lekensteyn commented on #195
Solaar does not really need to be compiled. If your USB device periodically gets in an unusable state, check the power supply and `dmesg` for any hints. I have successfully used the Logitech Unifying receiver in a Raspberry Pi, but that was the only device (no Wi-Fi stick was connected simultaneously).

[2015-01-03 13:23] katzzero commented on #195
I will try that and post here the results. Thanks for the answer ! theres
any way to refresh it without a restart ?
Thanks !!

2015-01-02 7:58 GMT-02:00 Peter Wu <notifications@github.com>:

[2015-01-03 15:03] Lekensteyn commented on #195
Try unplugging/inserting the USB receiver. If that causes a power surge which resets the pi, try to unload/load the USB module (if the driver is loaded as module).

[2015-01-13 08:48] dmaglio opened #196 "No Logitech adapter found"
My logitech combo mouse + keyboard is incompatible?
Bus 002 Device 004: ID 046d:c505 Logitech, Inc. Cordless Mouse+Keyboard Receiver

[2015-01-22 01:59] neeravmodi opened #197 "Supported devices information"
Please update or sync the two supported devices pages:
- http://pwr.github.io/Solaar/devices.html
- https://github.com/pwr/Solaar/blob/master/docs/devices.md

For example, the M325 mouse entry has blank information in one, and has more detail in the other.  There are devices listed in only one page not the other.

Awesome project!  Works like a charm with K800 keyboard and M325 mouse.  Thank you!

[2015-01-30 13:09] katzzero commented on #195
I found that java was crashing the driver module. updated java to sdk 8 and
everything is working again. anyway it dont make any sense to me. Thanks
for the help and sorry for the trouble !

2015-01-03 13:03 GMT-02:00 Peter Wu <notifications@github.com>:

[2015-01-30 18:58] BenjaminHae commented on #123
I have the same error, but for me setting DPI with exact values doesn't work.
GUI is unaffected.

[2015-01-31 17:18] eddie-dunn commented on #162
There are two revisions of this keyboard. Perhaps it doesn't work with the older revision? I have the old one, and get the same errors as OP.

[2015-02-02 20:54] Lekensteyn commented on #195
Huh, Java? Sounds odd, but as the problem is gone: /close

[2015-02-02 20:54] #195 closed

[2015-02-09 14:42] krassswr opened #198 "Keyboard status"
I have keyboard K750 and it works like a charm. But this model don't have LED status indicators. So it will be nice to know when Num, CAPS and Scroll Lock are pressed. I use xfce4.1 on debian testing and I didn't find working solution to show status of keyboard.

[2015-02-10 12:14] canteo opened #199 "Solaar gui broken"
Hi,

I have two keyboards: K400, K270 and one mouse M235. They all work fine with Solaar, but for some reason something funny happened to the GUI.
I have paired them with my Ubuntu 14.10 and in the GUI, when i select the top level tree option in the left "Unifying receiver", the panel in the right does not get refreshed, and so, the option for "Pair new device" is gone...
I suspect a problem with

[2015-02-11 21:23] madmanidze commented on #127
Still not working proper :(

[2015-02-15 23:51] michaelmrose opened #200 "Change pop up window complaining about low battery to a notification"
The pop up window that comes up over top of your current window is about as obnoxious as pop up ads on the web it is nearly obnoxious enough to not want to use solaar at all especially as it comes up repeatedly.  A notification would be far far less jarring.

[2015-02-25 18:57] marcusrugger commented on #198
I'd like to second this feature request.

[2015-02-27 09:13] hyperair commented on #197
Hmm, would be nice to have smooth scrolling on the M325 though.

[2015-03-03 19:15] decibyte commented on #157
I've managed to make FN swap work with k830:

![solaar-k830](https://cloud.githubusercontent.com/assets/224219/6470067/7c68f38e-c1e1-11e4-9181-d974663bad6c.png)

I've made a pull request with my changes, but it seems no PRs have been accepted (or rejected) for a couple of years, so I wouldn't count on this getting into the official release anytime soon.

But feel free to clone from [my Solaar repo

[2015-03-05 08:01] joe1970 commented on #157
@decibyte
Thank you very much for the effort. This is great news. I might give it a try. But I also hope that the  ppa I am using will be updated.
Does this swap FN key usage just for the Function-keys F01-F12 or for all keys that are FN keys. For example also the arrows and the "del" key?
How did you find out what to change? If you could write a few lines about the procedure, this might help othe

[2015-03-05 08:23] decibyte commented on #157
@joe1970

So do I. Generally, this project seems like it could use some maintenance love. I don't blame @pwr for not doing anything for a long time, as I'm perfectly aware that personal priorities change and sometimes you have to abandon things in your life. But maybe somebody else could take (part of) the responsibility to look at all the pull requests, keeping a PPA updated and so on.

It is onl

[2015-03-05 12:38] Lekensteyn commented on #157
Correction: the FN swap state (and other settings) reset every time a device is powered on again and reconnects. Solaar can detect this event and adjust it, but there is no persistent state in Solaar across reboots.

With verbose logging enabled you can see the protocol details (RAP == HID++ 1.0 / FAP == HID++ 2.0). If you have a Windows VM you could use that to discover more, see my Reverse Engin

[2015-03-08 11:29] p-himik opened #204 "Some of keyboard key presses are skipped when Solaar is running"
Lubuntu 14.10
solaar 0.9.2
Laptop with an external keyboard (A4TECH KV-300H) plugged in USB 3.0 (no matter if directly or via hub)
Logitech Unifying receiver paired with Performance MX mouse and M570 trackball

If Solaar has been launched via autostart, sometimes (especially when CPU load is very high) some key presses are skipped - no matter how slow I'm typing, what application has focus or what

[2015-03-09 02:34] p-himik commented on #204
Aaand no, it appears to be unrelated to Solaar as the issue returned after waking up from suspension.

[2015-03-09 02:34] #204 closed

[2015-03-11 22:03] 3F opened #205 "The Unifying devices and limit of forty-five (45) unique connections"
_... maybe you know, because your software worked with Unifying receivers and you can know more about protocol and inner structure, similar problem etc._

So, needed a more information about wonderful limitation for all Logitech Unifying products.

I think it's the best restriction for all my practice :)
why ? who ? for what ? this is the first thoughts when you see the official notice after locke

[2015-03-12 20:55] twifty opened #206 "No percentage is displayed for either keyboard or mouse"
I have a K800 keyboard and M950T mouse, on Ubuntu 14.04. The GUI displays the battery levels of each in icon and text form, but there is no percentage. `upower -d` successfully displays it for each device, so I know it should be possible.

[2015-03-16 23:54] joe1970 commented on #157
Hi decibyte,

I downloaded your fork in order to try out your modifications. I have however some problems installing it. I was expecting to find some kind of makefile to compile a new version of solaar myself. Maybe the problem is that I have no experiences with Python and it is not really obvious to me how to compile a new version of Solaar. Do you have a hint what to do or could you explain the

[2015-03-17 07:00] decibyte commented on #157
@joe1970, Just follow [the installation guide](https://github.com/pwr/Solaar/blob/master/docs/installation.md) :)

[2015-03-17 08:04] joe1970 commented on #157
@decibyte,

Strange, this was actually the first thing I did.

Uninstalled the solaar package from ppa and then executed the installation script.

When this did not give me the wanted NF switch, I tried to install solaar from ppa first and then execute the installation script from your fork. The idea was trying to copy the changes over the usual installation to alter it. Again without the wanted r

[2015-03-17 08:19] benrki commented on #157
I just manually added the latest commit (https://github.com/decibyte/Solaar/commit/afd36764c27bb1498cf4be09978541250633248d) from the pull request to my existing solaar install (since it doesn't look like the original repo will be updated any time soon, it seems to be fine) as a quick fix.

[2015-03-17 16:11] joe1970 commented on #157
I also got it to work now. The important step was to copy the content of ../lib/logotech_receivers/ into /usr/share/solaar/lib/logitech_receivers/
especially the files descriptors.py and settings_templates.py need t be updated as they contain the changes for the k830.

the install script in rules.d does not do any changes that are relevant here. It copies the rules file, but that has not changed c

[2015-03-23 12:42] w-shackleton commented on #158
Currently working on getting smooth scrolling working properly as it does in the windows implementation (smooth when wheel in smooth mode, non-smooth otherwise)

[2015-03-29 20:30] patricklibert opened #208 "New logitech MX MASTER"
Hi,

I bought the new Logitech MX MASTER, it's replace the performance MX.
Basic functionality is working.
I want the 'side scroll wheel' to work, Not the basic scrolling.

Check
http://www.logitech.com/en-roeu/product/mx-master

Thanks

[2015-03-30 01:37] katzzero opened #209 "Arm v7 Suport."
Would be too hard to make it Arm v7 or better compatible ?
I use Lubuntu on an Odroid-c1 and it will be very useful to me ...
Thanks for the attention. :)

[2015-03-30 10:01] Lekensteyn commented on #209
Have you tried installing it? This is all Python with no native code so it should work on any Linux platform ;)

[2015-03-30 10:23] Lekensteyn commented on #208
Can you attach more device information?

[code]

[2015-03-30 10:35] redman5087 commented on #208
solaar show > output.txt doesn't work

solaar show > output.txt
usage: solaar [-h] [-d] [-V]
solaar: error: unrecognized arguments: show

[2015-03-30 10:39] Lekensteyn commented on #208
It looks like you have an older version of Solaar installed. Can you try the version from git, and then invoke `bin/solaar show > output.txt`? Or else try `solaar-cli show > output.txt`

[2015-03-30 10:43] redman5087 commented on #208
Unifying Receiver
  Device path  : /dev/hidraw0
  USB id       : 046d:c52b
  Serial       : 8A8D9ADC
    Firmware   : 24.01.B0023
    Bootloader : 01.08
    Other      : AA.AC
  Has 1 paired device(s) out of a maximum of 6.
  Notifications: wireless, software present (0x000900)
  Device activity counters: 1=39

  1: Wireless Mouse MX Master
     Codename     : MX Master
     Kind         : mouse

[2015-04-02 12:21] katzzero commented on #209
I tried once and it not worked ... but i installed again now and it asked
for python-pyudev ... after that it worked !
Sorry for bother ..
Thanks and Congratz for the excelent work !!

2015-03-30 7:01 GMT-03:00 Peter Wu <notifications@github.com>:

[2015-04-05 09:54] #209 closed

[2015-04-05 09:55] Lekensteyn commented on #205
I am afraid that you will not be able to circumvent this issue, otherwise Logitech would have released a software/firmware update to fix this. It is not good for their PR to have such issues.

[2015-04-05 12:00] 3F commented on #205
well :( as is.. no time for own analysis

for all - **be careful with all** the Unifying devices from Logitech! who would have thought at all about this -_- *official support is silent*

anyway, would be nice to get a more information about this restriction if anyone knows or have a more time for debugging of used protocol etc... write here, i'm watching this

[2015-04-05 17:56] Lekensteyn commented on #205
For clarity, the 45 connections limit occurs only with **some older devices**. See http://support.logitech.com/en_us/article/14577. My devices have no issues with this limit.

Without further details I can only speculate what happens. Perhaps the memory can only be rewritten X times.

[2015-04-05 18:55] 3F commented on #205
maybe, I don't know..
but I also have the older Performance MX mouse (bought in ~2011) and many successful connections between 2-3 receivers before this case o_O

anyway [item above](http://support.logitech.com/en_us/article/14577) - awesome.

:) yeah
but the EEPROM(for example - i.e. haven't seen scheme) not too expensive to use as complete solution for all logitech devices
and this.. *from tens

[2015-04-05 19:05] Lekensteyn commented on #205
What is the error anyway? AFAIK there is no error, you just get a timeout right?

[2015-04-05 19:40] 3F commented on #205
@Lekensteyn

yes, immediately(2-4 sec) dropped the pairing as a 'device timout' for Solaar:

     WARNING [ReceiverListener:hidraw1] logitech_receiver.notifications: pairing error 1: device timeout

-

	22:34:06,669     INFO [ReceiverListener:hidraw1] logitech_receiver.notifications: <UnifyingReceiver(/dev/hidraw1,6)>: pairing lock is open
	22:34:06,669     INFO [ReceiverListener:hidraw1] solaar.l

[2015-04-05 21:29] Lekensteyn commented on #205
Since the protocol does not give any hint, there is nothing we can do (in the context of Solaar).

If you are tinkerer you could lookup FCC documents and see whether you can do something with the hardware inside. You said that you have already tried (customer) support, but if that does not work you have little options. Maybe you could get a radio spectrum analyzer and play with it, but that is all

[2015-04-05 22:10] 3F commented on #205
in the trash would be cheaper :) *it's not worth the trouble..* in general, I software developer

yes, I have official ticket number of my issue on support.logitech.com
btw, currently I can't access to my account :) (*Error: No account found with that email address.*)

I think easier to use the EPROM-Programmer or similar for used type memory and similar keyboard to dump this :)

[2015-04-08 13:50] katzzero opened #211 "M570 trackball suport."
Hi !
I can´t pair my m570 trackball with my odroid running lubuntu.
It it supported ?

[2015-04-12 14:03] Lekensteyn commented on #211
See #209, Solaar uses Python which is also supported by your ARM device.

[2015-04-12 14:03] #211 closed

[2015-04-12 22:59] katzzero commented on #211
I know Solaar work on my device ... I cant use it with my m570 ... Works
fine with my mk220 ... But OK .. Close it ...thanks anyway ...
Em 12/04/2015 11:03, "Peter Wu" <notifications@github.com> escreveu:

[2015-04-13 20:51] jtsagata commented on #198
There is applets to do that

[2015-04-13 21:43] krassswr commented on #198
I found "Kbdleds" plugin. But it was in RPM package and i have to convert it do deb with Alien. Because in current version of Debian testing can't be compiled. Anyway it works now.

[2015-04-14 16:34] vivin commented on #158
I'm using a PerformanceMouse MX. I added the PPA above and installed `xserver-xorg-input-evdev`, but `xinput` still doesn't show the `"Evdev Scrolling Distance"` property. I'm wondering if I'm missing something or perhaps haven't set up something right?

[2015-04-14 17:10] vivin commented on #158
This is working now. I just had to log out and log back in.

[2015-04-17 07:07] kbtzr opened #212 "Any way to hide/disable the tray icon?!"
First, if there's an issue for this already, I'm sorry I was unable to find it.

On Elementary OS, after installing Solaar, the mouse battery meter is handled nicely by the OS.
![screenshot from 2015-04-17 04 04 51](https://cloud.githubusercontent.com/assets/1047033/7197411/313311d0-e4b7-11e4-8ee8-feb18bf56915.png)

Is there any way to the disable Solaar's tray icon?

[2015-04-17 08:21] Lekensteyn commented on #212
If you already have battery reporting from a UPower client, why do you still need Solaar? For applying some settings?

(AFAIK the icon cannot be hidden, but it is certainly possible to implement it.)

[2015-04-22 23:23] Djfe opened #214 "G700 unifying receiver isn't recognized"
If I can provide any useful data to you that allows support for it in the future that would be great :)

Would really like to see it supported.

I'm running Korora 21 (based on Fedora) with xfce

(this is about the G700, i don't own the G700s)

[2015-04-23 07:58] decibyte opened #215 "Natural scrolling with touchpads"
I've got a T650 I'm using with a laptop PC running Ubuntu. I've enabled Natural Scrolling (i.e "reversed") in the Mouse & Touchpad System Settings. This works for the built-in touchpad on the laptop, but not for the T650.

Similarly, I have a K830 I'm using with a desktop PC. With that, the Natural Scrolling option is not even available from the Mouse & Touchpad settings.

Is there a way to tell t

[2015-04-24 06:45] decibyte commented on #215
With Ubuntu 15.04, released yesterday, this seems to be working. Thus my own itch has been scratched :)

I'll close this issue for now, but feel free to reopen if there's a way to make it work with older Linuxes.

[2015-04-24 06:45] #215 closed

[2015-04-24 07:35] Lekensteyn commented on #214
For a start, please provide the output of

    solaar show

(or clone the repo and invoke `bin/solaar show`)

[2015-04-24 20:22] Djfe commented on #214
the current version on my System is 0.9.2 which doesn't support "show", yet, I assume, because it said it doesn't know show.

So I cloned the repo and invoked solaar show, but the output was simply:
```solaar: error: Logitech receiver not found```

[2015-04-24 20:24] Djfe commented on #214
lsusb | grep Logitech outputs the following:
```Bus 002 Device 003: ID 046d:c531 Logitech, Inc.```

[2015-04-24 20:32] Djfe commented on #214
according to https://bugs.launchpad.net/ubuntu/+source/upower/+bug/1380527 the M700s uses the same receiver ```046d:c531```

[2015-04-25 22:12] muzena commented on #214
Djfe try this repository https://github.com/muzena/Solaar

[2015-04-26 02:01] nickurak commented on #215
Did that help with your k830 as well?

[2015-04-26 09:49] mfonville commented on #181
Ubuntu Vivid is released (15.04) any chance that you could update the PPA for this new release too? It should be trivial (you can copy the current packages to be rebuild for the newer distro from the PPA itself)

[2015-04-27 01:22] Djfe commented on #214
is it correct that I get ```Solaar: error: [Errno 13] Keine Berechtigung: '/dev/hidraw3' ``` without root rights (sudo)

Output with sudo:
[code]

[2015-04-27 07:55] decibyte commented on #215
@nickurak I haven't tried yet. Let me get back to you when I've had the change.

[2015-04-27 14:44] muzena commented on #214
Try this remove this solaar.
Install it from yorur os repository or find in fedora reposytory on web eg.
https://admin.fedoraproject.org/updates/FEDORA-2013-21942/solaar-0.9.2-1.fc20?_csrf_token=a39e2f5503a64c1ab89b2acaf80fdc5bd6f0b83c
And replace and add these lines in files
 lib/logitech_receiver/base_usb.py
 lib/logitech_receiver/descriptors.py
rules.d/42-logitech-unify-permissions.rules
https:

[2015-04-29 20:03] juboba opened #216 "Battery status unavailable for K750"
I just installed Solaar and everything works like a charm for my **M570**, but for my keyboard **K750** the battery status is not shown. This is too bad because I installed Solaar for checking my keyboard's battery status.

I didn't know my mouse reported the battery status (yay!). I also tried pressing the button just before running the _solar_ command with no luck.

Here's my **solaar** output:

[2015-05-01 19:30] Lekensteyn commented on #216
Is the status unavailable even when the keyboard is activated? When it goes standby, the information is possibly not reported.

Does the command `upower -d` report battery statistics for the K750?

[2015-05-02 15:54] juboba commented on #216
This is the my output for "upower -d".
Daemon:
  daemon-version:  0.9.17
  can-suspend:     yes
  can-hibernate    yes
  on-battery:      no
  on-low-battery:  no
  lid-is-closed:   no
  lid-is-present:  no
  is-docked:       no

Running upower --monitor and pressing the 'power' button on the keyboard (the one with the happy and sad faces) doesn't produce any output.

I always try Solaar just afte

[2015-05-03 14:40] jiapei100 opened #217 "e930C hasn't been supported yet?"
Hi,

I'm using a Logitech e930C, and I didn't find it available by using Solaar.
The device is 046d:0843

Bus 002 Device 007: ID 046d:0843 Logitech, Inc.

Can you please help to add e930C at your convenience?

Cheers
Pei

[2015-05-03 15:56] Djfe opened #218 "70mb used RAM in idle mode (RSS)"
according to my taskmanager solaar uses 72,4mib of RAM right now, even though no windows is open and even though it hasn't recognized my mouse receiver, yet.

Why does it use so much RAM?

Could the RAM usage be reduced somehow? (It's not like it matters too much, but 70mib sound still a bit much too me for this functionality :/ )

[2015-05-03 16:04] Djfe commented on #214
sorry for the late answer
I couldn't find the libfolder of solaar :/

I searched in several folders for "logitech_receiver" and "solaar" but couldn't find the folder with all the python files

[2015-05-03 18:28] muzena commented on #214
/usr/share/solaar/lib/logitech_receiver/base_usb.py
/usr/share/solaar/lib/base_usb.py
/lib/udev/rules.d/ rules.d/40-solaar.rules

[2015-05-03 21:07] Djfe commented on #214
/usr/share/solaar/lib/ doesn't exist
there is only /usr/share/icons/

the .rules file doesn't exist either
I see a 69-unifying-receiver.rules file though

[2015-05-03 23:49] muzena commented on #214
I extract and modified fedora solar rpm package:
https://mega.co.nz/#!7s0yzIAQ!awH-usqN8l9I2o5tDRG12KiOJ-hCXuEEvJdoY-MchPY
Extract package, copy in your root directory and overwrite files, restart PC and see if it working

[2015-05-04 08:00] jiapei100 commented on #217
Checked...
Even C920 is not able to be detected.
Solaar hangs with "No Logitech receiver found"

Suggestions?

Cheers
Pei

[2015-05-04 18:37] Djfe commented on #214
ah ok, so the libs are in the libs folder of python 2.7
good to know
I'll take a look at it later ;)

[2015-05-10 22:00] Lekensteyn commented on #216
UPower 0.9.17 is too old, you need at least 0.9.19 for Unifying support while 0.9.22 (or newer) is strongly recommended as it fixes quite some bugs.

As for the battery status in Solaar, perhaps the information is not available via immediate request/response queries. If you keep Solaar open for a while, does the battery status still not update?

[2015-05-10 22:14] Lekensteyn commented on #218
Sounds like a memory leak, this needs some debugging.

[2015-05-10 22:21] Lekensteyn commented on #217
The [C930e][1] is a webcam just like the [C920][2]. These have no *wireless* Unifying receiver right? What functionality are you looking for? These devices are typically supported by video4linux drivers.

 [1]: http://support.logitech.com/product/webcam-c930e-business
 [2]: http://support.logitech.com/product/hd-pro-webcam-c920

[2015-05-11 10:54] juboba commented on #216
Hey, I just upgraded my OS and with it my upower to version 0.9.23 and
still have the same output.

"La libertad no hace felices a los hombres, los hace sencillamente hombres."

-- Manuel Azaña

On Sun, May 10, 2015 at 10:00 PM, Peter Wu <notifications@github.com> wrote:

[2015-05-11 12:08] aquatix commented on #181
Just wanted to chime in with my +1 for a build for 15.04. The trusty version seems to work ok still, but has no battery info anymore.

[2015-05-14 11:32] Lekensteyn commented on #216
What OS? If you use Linux kernel 3.19 or newer you possibly have to modify a udev rule if this was not already done. http://cgit.freedesktop.org/upower/commit/?id=f8104a112eb967cd4c2aaf57b5a59aafe7c4738f

[2015-05-14 21:30] Lekensteyn commented on #181
Can you see the battery status with the latest git code? The built-in battery monitor applet of various desktop environments do not report battery status anymore because of a change in Linux 3.19. See https://bugs.launchpad.net/ubuntu/+source/upower/+bug/1448834/comments/8

[2015-05-14 22:21] juboba commented on #216
I want to thank you a lot for your interest in helping me. I'm using
Slackware current. I have no *-upower-csr.rules in /etc/udev/rules.d.
Should I create one?

[2015-05-18 21:32] Djfe commented on #214
Sorry I haven't had time lately:
I tested it out:
I just get an error message
![solaar bug](https://cloud.githubusercontent.com/assets/5685512/7690677/fea5e658-fdb5-11e4-9786-25f64180a0e0.png)

Am I doing something wrong or is there still an issue within the code?

[2015-05-18 22:20] Djfe commented on #214
actually it works when I start it with sudo
How can I get it to run as root for autorun?

@Lekensteyn would you want to implement his changes?

[2015-05-24 18:41] jasontibbitts commented on #208
I haven't had any problems with the MX Master mice I have on two Fedora 21 machines.   Absolutely everything works, including the side scroll wheel and the three side buttons.  However, the battery status is a bit flaky.  At initial startup everything is fine, but after the mouse goes to sleep and wakes back up, the battery status changes to "unknown".  Restarting soaar or unplugging and re-pluggi

[2015-05-27 21:22] Lekensteyn commented on #199
Please try the referenced patch, it was made a few months ago but still seems to work.

[2015-05-28 19:08] jasontibbitts commented on #208
Just an update: I have no issues whatsoever with the package I built from git four days ago.  The problem with the battery status changing to unknown is gone.  Will pull again to try out the commit that happened a bit ago.

[2015-05-30 09:26] krassswr commented on #218
I have same problem it uses 44.3mb RAM. My system is Debian Testing, Python 2.7.10rc1, xfce4.12, solaar-cli 0.9.2 -debian version : 0.9.2+dfsg-5

[2015-05-30 22:46] Djfe commented on #214
@Lekensteyn It would be amazing if you could take a look at his changes and cherry pick them :)

debug info:
[code]

[2015-05-31 08:48] Lekensteyn commented on #216
You likely have one in [/usr]/lib/udev/rules.d/

[2015-05-31 14:15] Lekensteyn commented on #214
@Djfe I'll have a look at these in a month (hopefully).

You can also make it easier for merging by splitting the functionality and not touch unrelated parts. For example, adding new translations should not require touching all other translation files.

Oh, and reviews for all PRs are certainly welcome :-)

[2015-06-01 01:07] Djfe commented on #214
Thx, take your time

Maybe you want to implement more than this change from this repo.

If not, then you have to ask @muzena to make a repo that cherry picks these changes that you just need to merge.

I'm not able to do it since I don't know Python, yet and don't know much about the solaar code in general (I just posted this issue)

Djfe

[2015-06-03 21:10] prettyv commented on #208
@Lekensteyn I also just got mine today and am willing to help if any more detailed info is needed (you mentioned something about needing a capture to investigate the DPI adjustability in your last commit?)
And since the output of ```solaar show``` is a bit different with latest master than what was posted above, here is mine:
[code]
I see the battery percentage is the exact same as above, does the

[2015-06-04 11:20] teohhanhui commented on #214
I'm using G700s and would love to see it supported too :)

And would this be related as well? https://bugs.launchpad.net/ubuntu/+source/upower/+bug/1380527

(I'm not a gamer so it's only the lack of low battery notification that bugs me)

[2015-06-04 15:10] jasontibbitts commented on #208
For me the battery percentage reads 90% when fully charged, then drops to 50% and (so far) has stayed there.  I assume it will drop further once the mouse finally drains its charge, but so far for me it's been a couple of weeks and it still hasn't run low.

[2015-06-04 21:19] jasontibbitts commented on #208
So my battery just got low enough for something to happen.

First Solaar opened a notification saying "Battery: 20% (invalid battery)".  The icon flashed yellow. The regular dialog opened and says the battery is at 50% (and it stays that way even if I close it).  The systray icon shows the battery being low, and the tooltip says the same "Battery: 20% (invalid battery)" message.  solaar show says

[2015-06-06 07:13] tian2992 commented on #199
Merged patch manually, Did not work for me. Did not display a window at all. Running on KDE.

[2015-06-06 07:28] tian2992 commented on #199
Worked,  my reciever was not working properly.

[2015-06-06 11:44] joaojotta opened #222 "Any chance to add MK220 combo (K220 + M150)?"
Well, the title says it all.

The combo is the MK220:
Keyboard: K220
Mouse: M150

Thanks and good work!

[2015-06-06 13:04] Lekensteyn commented on #222
Please clone from git and report the output of `bin/solaar show > mk220.txt` and `lsusb -d 046d`.

[2015-06-06 13:05] Lekensteyn commented on #199
Great, thanks for confirming!

[2015-06-06 13:05] #199 closed

[2015-06-07 20:02] joaojotta commented on #222
And THAT'S how you catch a noob.
I know nothing of what you're talking about. ):

Is this the second part?
<code>Bus 007 Device 002: ID 046d:c534 Logitech, Inc.</code>

[2015-06-08 01:36] velifico opened #223 "No tray icon in Plasma 5"
I think the problem is XEmbed support is no longer available in Plasma 5. Is there any way Solaar to use KDE's new statusnotifier?

[2015-06-09 19:07] jasontibbitts commented on #208
And hopefully a final update on this:

I let the mouse at work run down completely.  After it died I plugged it in to charge.  Unfortunately solaar still shows it at 5% battery and does not show that it is charging.

[2015-06-12 06:45] bipson commented on #222
@joaojotta: the first part was about building the project from source, so that you have the newest version running on your machine. This requires you to clone the repository (this repository) to your machine (check this: http://stackoverflow.com/questions/315911/git-for-beginners-the-definitive-practical-guide#323906, don't forget to install git I guess). It is actually simpler than it looks, don'

[2015-06-12 09:38] mfonville commented on #165
Also see https://github.com/pwr/Solaar/issues/181

[2015-06-12 09:42] mfonville commented on #181
If Daniel Pavel would visit https://launchpad.net/~daniel.pavel/+archive/ubuntu/solaar/+copy-packages and just check the checkbox next to the trusty package, set destination to one of te newer releases, put the radio button on 'rebuild the copied sources'; at least the current old revision would be made available for the newer Ubuntu releases.

[2015-06-16 20:45] caco3 commented on #223
This sadly is preventing me to upgrade to Plasma 5 :(

[2015-06-16 21:34] joaojotta commented on #222
Well, I guess I'm one step ahead.
Still, thanks @bipson.

The software is already running but I can't find the [code]mk220.txt[/code] under the [code]/bin/solaar[/code] folder not can I create one.

Thats the step I don't understand.
(sorry for the delay on the response but we got some virus at home and the kids have been sick)

[2015-06-17 08:01] Lekensteyn commented on #222
Actually, the device info was already reported before at https://github.com/pwr/Solaar/blob/master/docs/devices/mk220.txt, so you do not have to report it once again. Once I've some time and finished MX master support, I'll look into this.

[2015-06-17 09:49] joaojotta commented on #222
Great!
That's amazing!

I'm sorry for the double report than. I did search for it but got no results so...
Thanks again!

[2015-06-18 16:56] muzena commented on #214
@Lekensteyn
Can you commit this line: ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c531", ENV{UPOWER_BATTERY_TYPE}="lg-wireless"
to http://cgit.freedesktop.org/upower/commit/?id=f8104a112eb967cd4c2aaf57b5a59aafe7c4738f
for enabling G700s/G700 battery icon and status like in picture:

![g700s](https://cloud.githubusercontent.com/assets/1978777/8236882/b00a5fbc-15eb-11e5-9442-7b77dc027e28.png)

[2015-06-19 02:48] sagikazarmark commented on #181
:+1:

Otherwise we have to create a community maintained PPA (since we are 3 versions ahead of Trusty) which I really don't want to.

[2015-06-20 17:14] jbreitbart opened #224 "Better elementary OS support"
The currently used icon in solaar does not match the design of elementary OS. Would it be possible to use the battery status icons provided by the OS instead instead of the battery icon currently used?

There is a discussion with more details here: https://github.com/mank319/elementaryPlus/issues/43

[2015-06-27 22:05] Lekensteyn commented on #224
Isn't this already possible by using icon themes?

Btw, if you do not need advanced features of Solaar and just need battery reporting, consider depending on UPower which also understands Unifying receivers.

[2015-06-29 12:00] FabioBeneditto commented on #222
Hi!

MK220 kit is very popular here in Brazil.

I still waiting for. Thanks! :)

[2015-06-30 13:32] Lekensteyn commented on #214
@muzena I have no commit access, please propose your patch via https://bugs.freedesktop.org/enter_bug.cgi?product=upower

[2015-07-10 00:27] mhalano opened #226 "Logitech M560 support"
Linux kernel 4.2 come with Logitech M560 support. This mouse is a Windows mouse which sends mouse and keyboards signals. May be will be a good idea support the configuration of the shortcuts buttons?

[2015-07-16 03:46] LorinRicker opened #227 "Error "Pairing failed: failed to open pairing lock." now appearing"
Ubuntu 14.04, Solaar 0.9.2, Python 2.7.6

I've had to re-pair a Logitech K750 keyboard, once paired successfully (but offline for awhile), now attempts to pair this device get the following error-box:

  Pairing failed: failed to open pairing lock.
  No further details are available about the error. [Close]

What does this mean, and how can I fix it?  This "used to work", don't know what, if anyth

[2015-07-16 03:49] LorinRicker commented on #227
P.S. Existing Unifying Receiver continues to work fine with Logitech M325 mouse, has been for well over a year; this same K750 keyboard worked for most of that year as well, until I turned it off while we moved. Now just want to re-pair it and use it... Thanks!

[2015-07-16 12:08] Lekensteyn commented on #227
It seems that the K750 keyboard is not replying at all. Is its battery charged?

[2015-07-16 14:36] LorinRicker commented on #227
It's the solar/light powered keyboard, so it should be charged.  I've tried this with another Logitech wireless keyboard, brand new batteries, same response. I found the Python code that annunciates the error box, but haven't backtracked the cause for "No further details..." -- this stuff is pretty complicated to detect, no?  Thanks...

[2015-07-16 14:42] LorinRicker commented on #227
Woah - wait - what?  Now this is interesting!  The keyboard now works (I'm typing on it right now), but it does not show up in Solaar's GUI under the Unifying Receiver as a device!???  Seems to have paired, even with the error-box. Since it's "not there", I'll not be able to unpair it (if I wanted to... I don't). Might the keyboard show up after a laptop reboot? I'm not gonna try without some feed

[2015-07-17 10:16] DuaelFr commented on #172
I totally agree. That window make me lose my focus really often even if the device is still functionning really well (it did happen 4 times while writing this comment). I already have system notifications, I don't need that pop in.

Thank you for that nice software.

[2015-07-17 13:21] heynnema opened #229 "Solaar not starting all the time"
Solaar is in my startup applications list. However, after a reboot and login, sometimes it only displays its solaar icon in the top panel. However, if I quit and restart Solaar, then it properly displays its battery condition icon in the top panel, and the list of paired devices.

[2015-07-17 15:16] LorinRicker commented on #227
Even tho "it now works...", Solaar fails to show the K750 keyboard under the Unifying Receiver (GUI display).  But lsusb sees it fine, and I'm curious as to whether this is a bug, or "expected behavior"? --

$ lsusb -v -d 046d:

Bus 003 Device 002: ID 046d:c52b Logitech, Inc. Unifying Receiver
Couldn't open device, some information will be missing
Device Descriptor:
  bLength                18
  b

[2015-07-17 15:19] LorinRicker commented on #227
And the command-line solaar shows it fine:
$ solaar-cli show
Unifying Receiver [/dev/hidraw0:714194DB] with 3 devices
1: Wireless Solar Keyboard K750 [K750:EDC90418]
2: Wireless Mouse M325 [M325:29B2D09D]
3: Wireless Mouse M325 [M325:07A95795] offline

So this is a bug with the GUI?  Both for the pairing action and for the subsequent display of the device?

[2015-07-17 15:47] Lekensteyn commented on #227
Can you start with `solaar --debug`? Can you reproduce it with git code?

[2015-07-25 20:37] michaelmrose opened #230 "solaar-cli does not work even though the gui does"
solaar --version = 0.9.2
solaar gui works perfectly other than spamming incredibly obnoxious windows repeatedly whenver the mouse gets low.
sudo solaar-cli config 1identifies the settings that can be set and their possible settings but fails to read its current value output is as follows

[69041711:mouse]
 Performance Mouse MX

Sensitivity (DPI)
possible values: one of [ 100, 200, 300, 400, 500, 6

[2015-07-25 20:46] michaelmrose opened #231 "Please remove obnoxious popup window"
If you want to inform the user that their battery is low changing the tray icon or sending a notification is sufficient.

Poping up a window  that takes focus on the users desktop is horribly annoying more so when it pops up repeatedly especially when it manages to do so in the middle of a game and ruin it.

I would appreciate if there was at least a way to disable this.

[2015-07-26 12:43] GlebPoljakov opened #232 "add to ppa-repository versions for ubuntu 14.10 and 15.04"
Hello, Daniel Pavel!

I am "happy" owner of Logitech K480 and i find way to permanently switch Fn-key from default media-behavior to Fn.
Now i have ubuntu 14.10 on my laptop and i plan to upgrade to 15.04.
I try to install Solaar, but your ppa-repository does not have versions for 14.10 and 15.04.

Daniel Pavel, could you please add support for ubuntu 14.10 and 15.04?

Thanks in advance!

BR,
Gleb

[2015-07-28 10:15] strelec opened #233 "High CPU usage when moving the pointer fast"
When I move the mouse really rapidly, the cpu usage reaches 5-7%.

What kind of calculation is Solaar performing on mouse movement? I have thought the only purpose of solaar is to communicate the configuration settings to the mouse via unifying receiver.

[2015-07-28 11:51] Lekensteyn commented on #233
Solaar still receives every input event which need to be processed (interpreted). It can likely be optimized though as it should only react on a subset of events. Perhaps all DJ messages (report ID 0x20 and 0x21) can be ignored (have to check whether this is used for device detection or not).

[2015-07-28 15:02] strelec commented on #233
Well, that is a sensible thing to do, because currently, Solaar amounts to 3 minutes of CPU time (normal usage), which is 10 minutes shorter battery life on a laptop.

What is the disadvantage of simply killing Solaar, once I get the settings right?

[2015-07-28 15:21] Lekensteyn commented on #233
There is no disadvantage during normal, active use. Battery status is already reported through UPower to various tools. You still have to run it when re-inserting your device or when the device is powered off (inactivity sleep included).

[2015-08-02 00:32] rahidelvi commented on #215
The issue appears again with the 3.19.0-25-generic kernel on Ubuntu 15.04 . Both the T650 and TK820 trackpads don't recognize natural scrolling. The scroll axis can be [tinkered with and adjusted][1], however, it would be nice to control this in solaar.

[1]: Eg. http://askubuntu.com/q/542073/60869

[2015-08-04 10:35] Akhenaton opened #234 "[046d:c534] with mouse M185 & keyboard K270"
[Bus 001 Device 003: ID **046d:c534** Logitech, Inc.]

Solaar doesn't recognize this receiver.

[code]

[2015-08-05 13:35] jaggernod opened #235 "Pairing MX Master times out"
STEPS:
- clone the current Solaar repo
- manuall install as stated in README
- run:

[code]

EXPECTED RESULT:
- Solaar pairs the MX Master

ACTUAL RESULT:
- Solaar shows time out:

[code]

REDPODUCTION:
- 100%

ENVIROMENT:
- master branch, commit: cf27328d13243bab876fb42d441b00cf903e91e5
- ./solar show:

[code]

[2015-08-05 16:42] yanndinendal commented on #232
@GlebPoljakov: In the mean time, you can manually update the file /etc/apt/sources.list.d/daniel_pavel-ubuntu-solaar-utopic.list to put 'trusty' instead of the unavailable distrib version, like this:

[code]

[2015-08-11 19:44] skierpage commented on #232
Until this is fixed the section on Solaar's main page about Ubuntu packages should mention the issue, see my pull request pwr/Solaar#236.

[2015-08-11 20:03] skierpage opened #237 "Is "udev rule installation" necessary with Ubuntu package?"
I installed the Solaar package on Ubuntu 15.04 (using the workaround in #232) and ran `solaar`.  It seems to work, I have a second battery icon in notifications with "Unifying Receiver" and I paired my M705 mouse. The only strangeness is it warns "Wireless Link not encrypted".

Since the package is for an older Ubuntu I read [Manual installation](https://pwr.github.io/Solaar/installation.html) (in

[2015-08-12 00:36] luisalvarado commented on #232
Updated AskUbuntu's answer about Solaar.

[2015-08-12 23:47] darlanalves commented on #137
Just stumble upon this issue and I just changed the line 695 of `solaar/ui/window.py` into this:

[code]

... and the program ran just fine.

[2015-08-14 13:22] sheela-na-geek commented on #231
+1. The window is extremely annoying  :(

[2015-08-15 07:35] jaggernod commented on #235
Noticed that when I disabed ```hidpp10.NOTIFICATION_FLAG.wireless``` it started pairing.
Any ideas why?

[code]

[2015-08-18 09:51] Kepro opened #238 "M705 + K207 = keyboard still "offline" mouse works okay"
Hi,
keyboard K270 is still marked as offline

mouse:

[code]

keyboard

[code]

[2015-08-20 07:30] Kepro commented on #238
today mouse is offline and keyboard is online
yesterday both is online

[2015-08-31 15:15] CzBiX commented on #226
`xbindkeys` (has a gui tool `xbindkeys-config`) is good enough to use.

[2015-09-03 16:42] hobarrera commented on #231
A notification via XDG Desktop Notifications would be perfect, IMHO.

[2015-09-07 15:22] haarp commented on #231
+1

[2015-09-09 11:15] fipm opened #240 "K800 not added to list if already on at launch"
I have two unifying receivers installed in a multiseat setup (Arch linux). One of the receivers has a T650 and a K800 paired to it. At login the K800 is not listed in the GUI. I have to turn off and on the keyboard to see it in list.

[2015-09-15 23:06] hagabla opened #241 "after unpairing a device solaar gui does not work anymore"
solaar gui only shows one device instead of the 3 connected. This behaviour started when i unpaired and repaired a device.
solaar-cli shows all 3 devices:

solaar-cli show
Unifying Receiver [/dev/hidraw0:B5CC977B] with 3 devices
1: Marathon Mouse M705 [M705:514BF81F]
2: Wireless Keyboard K270 [K270:1F30DDA0]
3: Performance Mouse MX [Performance MX:3E2F6EB2]

solaar gui only shows "1: Marathon Mous

[2015-09-18 12:52] tanghus commented on #223
There are some instructions on how to make it show in the systray [here](http://blog.martin-graesslin.com/blog/2014/06/where-are-my-systray-icons/).

Unfortunately they didn't work for me.

[2015-09-18 13:01] tanghus commented on #223
There's a small gtk library [here on github](https://github.com/jjk-jacky/statusnotifier) that supports "modern" systray protocol.

[2015-10-13 12:08] FabioBeneditto commented on #234
I had same problem, but I'm using an M150 + K220 kit.

[2015-10-13 18:12] MagicFab commented on #158
This also worked in Debian 8:
- Install the xinput package
- Issue this command:
xinput (shows my mouse as device #13)
xinput set-prop 13 "Evdev Scrolling Distance" 8 1 1 # for smooth scroll

Scrolling now works at expected usable speeds.

[2015-10-13 19:58] w-shackleton commented on #158
FWIW `xinput set-prop "Logitech Performance MX" "Evdev Scrolling Distance" -8 1 1` also works :smile:

[2015-10-13 20:01] strelec commented on #158
How to do that on wayland?

[2015-10-13 21:01] metopa commented on #158
Works perfect to me as well (Kubuntu 15.04). Thank you!

[2015-10-18 15:06] mhalano commented on #226
Yes, for experts maybe, but for beginners is not so adequate. Solaar could be very good to define options (like DPI selection, shortcuts) related to Logitech devices.

[2015-10-19 23:56] hobarrera commented on #226
Configuring custom actions sounds a bit like feature creep, and out of scope. Something simple like sxhd (or, xbindkeys, if you prefer) should be enough. The documentation is quite clear (especially the former).

If you need a GUI for that, you're better of asking for a gui-for-sxhkd than trying to get unrelated features into Solaar, IMHO.

[2015-11-14 17:16] mkraemer commented on #230
+1, i'm seeing the same behaviour

[2015-11-16 09:26] lovrenco commented on #212
Isi it possibel to provide it in ElementaryOS style? (White color)

[2015-11-16 09:30] lovrenco opened #243 "Please provide more advanced setup for Logitech wheel (left right) in Solaar config"
For example:
wheel left - browser back
wheel right - browser forward

And specially useful, if you do a lot copy/paste:

wheel left - copy
wheel right - paste

Those things are provided in Logitech driver under Windows.

Thank you in advance

[2015-11-18 08:45] mishan commented on #208
I have one of these and would really love to be able to adjust the SmartShift feature so the mouse wheel doesn't prematurely clutch out

[2015-11-26 09:14] mybays commented on #234
I still have the same problem too.....

[2015-11-26 10:58] Akhenaton commented on #234
Well, i think this Solaar project is dead now...
Nothing has been done since months :-)

[2015-11-27 12:51] HptmHavoc opened #244 "Performance MX Battery State"
Hi,

i got a Performance MX and have a little Problem with the Battery State under Linux.
If i put in a rechargeable Battery 1.2V its either shown as unknown/low/critical (tried 3 different manufacturers) , but if i put in a normal Battery 1.5V its shown as full. Maybe its an already known problem ?

Distribution: Manjaro 15.09
Upower: 0.99.3-1
Kernel: 4.2.6-1-MANJARO

Output from solaar-cli show:

[2015-11-28 18:56] WorLord commented on #208
I was just looking for a way to disable the SMART SHIFT feature myself.  It's... OK, but I like it to be off.

Output from 'solaar show':

Wireless Mouse MX Master
     Codename     : MX Master
     Kind         : mouse
     Wireless PID : 4041
     Protocol     : HID++ 4.5
     Polling rate : 8 ms (125Hz)
     Serial number: 67362E7C
        Bootloader: BOT 18.01.B0014
          Firmware: MPM 11.

[2015-12-01 18:56] #244 closed

[2015-12-04 07:53] ShyPixie commented on #137
I have same problem here.

[2015-12-10 17:54] ohnoplus opened #245 "Can't turn on Smooth Scrolling and Side Scrolling"
I am using Solaar to connect a Logitech m510 mouse to an lenovo thinkpad running Ubuntu 14.04. I notice that when I open the dialogue about th ewireless mouse there are options for "Smooth Scrolling" and "Side Scrolling". Both of these have toggle switches that are greyed out in the off positions with exclamation points next to them. If I hover the mouse over the exclamation points I see the messa

[2015-12-16 11:41] LuisDiazUgena opened #246 "Performance MX button 10 and button 13 not recognized in ubuntu 15.10"
Hi!

I've upgraded a few weeks ago to ubuntu 15.10 from 14.04 and button 10 (show windows button) and 13 (zoom button) of logitech performance mouse mx are not recognized, so I cant use them in ubuntu.

Could be great to have a key configuration tool in solaar, since the computer recognizes the keys as button input, but makes nothing.

Thanks

[2015-12-16 14:56] fastcat opened #247 "Please provide a (signed) Release file for the apt repository"
Newer versions of apt complain about your repo thus on every `apt-get update`:

[code]

Please provide a signed Release file.  Noobs will probably need some quick instructions on how to import your key, also.

[2015-12-17 16:55] vdvogt opened #248 "No FN toggle for K830"
Hi,
I just installed solaar on my Debian 8 system with a K830 kb.
But there is no FN toggle!

What went wrong?

Veit

[2015-12-18 13:11] tsaber commented on #248
same here with a k400 kb. I see the button but when I click on Swap Fx function it says Read/write operation failed.
![logite](https://cloud.githubusercontent.com/assets/9378902/11897588/280d908a-a591-11e5-993e-804251fc5702.jpg)

[2015-12-22 02:46] ciubex commented on #229
Same issue: Ubuntu 14.04 LTS, 3.19.0-42-generic
Device: Logitech T620

[2015-12-24 13:11] retrixe opened #250 "Is this project dead?"
It pretty much looks like it.

[2015-12-24 15:20] heynnema commented on #250
I wish it wasn't true, but no new code has been released for over 7 months, and no new Ubuntu .deb packages for over 1 year.

[2015-12-25 18:02] daveduggan opened #251 "Installing Solaar on a Raspberry Pi 2 B running rasbian"
Is it possilbe to run Solaar on a Raspberry Pi 2 B runing Raspian?
If so, how do I install Solaar please?
I am a noob.
thank you

[2015-12-30 14:37] takkun324 commented on #227
I'm not sure if it is the same bug but I just had a similar issue with a M310 mouse. The GUI kept giving the "failed to open pairing lock" error. Reading the comments here, I decided to give the CLI a try. It too have a "error: device timeout" but it is now working (so it did pair).

[2015-12-30 15:22] ibu2004 commented on #250
I would love to fork it but I don't know how it works. I can code in Python
3.x and 2.x.

[2016-01-09 11:13] Lekensteyn commented on #250
@heynnema The code is purely Python, no native stuff. You should be able to use the debs from older distro releases in newer ones.

I still have commit access, forking should not be necessary. Solaar is just not that high on my priority list. Reviews for the PRs would be more than welcome though ;)

[2016-01-09 11:35] Lekensteyn commented on #232
14.10 is EOL and Ubuntu 15.04+ has included Solaar in the universe repo. No PPA version is needed anymore I think.

[2016-01-09 15:25] heynnema commented on #250
Thanks for your reply! However, am I looking at the wrong code web page? All of the code there is old, and I don't see any of the newer patches and commits there. Cheers, Al

[2016-01-09 15:45] Lekensteyn commented on #250
Two patches were merged today: https://github.com/pwr/Solaar/commits/master
Where are you looking at?

[2016-01-09 19:01] heynnema commented on #250
I'm new to git/github, and I'm looking at the dates on page https://github.com/pwr/Solaar. The dates range from months to years since the last update/mod? Am I looking at the wrong thing? If I download the .zip file, will I be getting the latest code? Cheers, Al

[2016-01-09 20:58] Lekensteyn commented on #250
Each file may have a different modification time as not every change (commit) will affect every file. If you download the zip file (master.zip) you will indeed get the latest version.

[2016-01-09 21:11] heynnema commented on #250
Thanks for your fast reply! In reviewing the code, I don't see a MAKE file, configure file, or an installation script. How do I install this? Cheers, Al

[2016-01-10 11:15] hobarrera commented on #250
The [readme](https://github.com/pwr/Solaar#manual-installation) links to manual installation instructions, though I do believe these should also mention that you should run `python setup.py install` (probably as root).

[2016-01-10 13:35] Lekensteyn commented on #250
This is a standard Python project, `python setup.py install` (as root) would normally work, but might get you in trouble later when you install it from your repositories. What distribution are you using? Ubuntu 15.04+ and Debian Jessie have this already in their official repos.

For testing, it suffices to run `bin/solaar &` from the source tree.

[2016-01-10 17:03] heynnema commented on #250
Thanks again for your fast reply.

I double-checked... nowhere is "python setup.py install" documented as the way to get the initial code installed. It sounds like I shouldn't install it this way anyway, if I'm using a .deb or a repo.

I'm currently using Ubuntu 15.10. Here are the repo's that I have installed for Solaar:

daniel_pavel-solaar-raring.list:deb http://ppa.launchpad.net/daniel.pavel/s

[2016-01-13 12:25] vootey commented on #158
Any news on this?
Setting xinput set-prop <devnum> "Evdev Scrolling Distance" 8 1 1 seems to fix scrolling in firefox, but breaks scrolling completely in e.g. dolphin.
When I do a logout/login the original setting is restored, i.e. 1 1 1.

What do I do wrong?

[2016-01-13 13:50] w-shackleton commented on #158
Lots of programs don't support updating smooth scrolling on the fly - try closing and re-opening Dolphin.

The X server doesn't remember parameters like that - you'll need to get that command to run every time you log in.

[2016-01-13 14:14] KDB2 commented on #250
Placing the new code in an old deb packages, adapting the version may work. I will look at it tonight or next weekend. I'm also interested to get an updated version.

[2016-01-13 14:24] Lekensteyn commented on #250
If you are using debs, try the `packaging/build_deb.sh` script

[2016-01-13 15:12] KDB2 commented on #250
Ok thanks for the tip. I will look at this.

[2016-01-13 16:32] heynnema commented on #250
Well, I'm still learning my way around GIT. I did a git clone/git init/git add/git commit. Git log showed the latest commit from Jan 13. I then did the packaging/build_deb.sh, and it build 3 debs in dist. But trying any of the debs indicates that there's a newer version already installed. The debs are named with 0.9.2-3, and my installed version from the Ubuntu repos is 0.9.2+dfsg-5. What does dfs

[2016-01-13 16:34] vootey commented on #158
Ah, thanks for answering.
Hm, restarting dolphin doesn't help. I suspect this is a problem within dolphin, since other applications behave fine.

[2016-01-13 20:12] KDB2 commented on #250
Look in the build files (before you run the script) and search for the version number. Bump it to 0.9.3.

[2016-01-15 09:48] nebuchar opened #252 "disable Swap Fx function error"
Using a k750 keyboard, I was able to enable "Swap Fx function", but now, when I try to disable it, it says: "Read/write operation failed", and the option is not saved

![image](https://cloud.githubusercontent.com/assets/1526560/12350145/800866da-bb75-11e5-8472-d48be5dd519a.png)

Using Ubuntu 14.04

[2016-01-15 11:02] nebuchar commented on #252
Seems that killing the app solves the problem

[2016-01-15 11:51] rlipscombe commented on #227
Same problem with a T620 mouse: failed to open pairing lock but it works anyway.

[2016-01-16 10:37] corebots opened #253 "swap Fx function incorrect after k750 is turned off/on, or intermittently"
first of all thanks for this tool, very helpful.

on the k750, when the 'swap Fx function' is set, it seems to work fine until i turn the keyboard off/on, then the toggle button in Solaar stays set 'ON' but the Fx keys no longer are switched > pressing F11 toggles full-screen instead of rising the volume. This also seems to happen occasionally without reason, not sure if it has to do with power ma

[2016-01-30 15:43] ChristianBeer commented on #247
I would second that. This is going to be a problem with the next stable version of Debian for sure.

[2016-02-01 05:55] hobarrera commented on #247
Tags can easily be signed with `git tag -s`. Can you guys use that? Sounds like it would interfere minimally with the dev's workflow.

[2016-02-01 08:31] ShachMaT commented on #235
I have the same problem, mouse got good power was close to receiver (5cm) and not pairing.

Mouse is Logitech M510.

[2016-02-01 18:55] maugsburger commented on #247
now the complete repository is dead:
Err http://pwr.github.io/Solaar/packages ./ Sources
  Empty files can't be valid archives

http://pwr.github.io/Solaar/packages/ => 404

[2016-02-08 13:55] SlySven commented on #250
@heynnema

I think this means *Debian Free Software Guidelines* and suggests to me that the upstream project (here?) has been taken on board and fully *Debian*-ised.  Given that your homebrew version is 0.9.2 *patch* 3 and the Debian one has been patched *five* times that suggests the latter has had 5 alterations from the 0.9.2 base version - and indeed may be later.  I do not think that you can b

[2016-02-10 03:41] fastcat commented on #247
That's not how apt repository signing works.

There are some very simple tools to manage a small apt repo like this.  I use reprepro (https://mirrorer.alioth.debian.org/) for some things like this locally, but there are other similar tools too.

[2016-02-10 16:36] hobarrera commented on #247
This isn't an apt repository, but a distribution-agnostic app. Does Debian really require all upstreams to alter their repositories in order to be packaged into Debian?

[2016-02-10 17:17] fastcat commented on #247
This package's github pages tries to provide an apt repository, but the format it uses is no longer supported, that's what this ticket is about, not the core solaar software.

[2016-02-10 17:24] SlySven commented on #247
Debian (and I guess other downstream derivatives) likes to authenticate packages so that a miscellaneous `.deb` file a *sysop* tries to load into their system can be proven to be what it claims to be (don't forget that Debian and others serve packages from mirrors around the World so the files can come from a multitude of places) so signing the package is not such a stupid idea as it seems.  I thi

[2016-02-10 17:42] SlySven commented on #205
It sounds like the Logitech coders had a thought originally along the lines of *"oh, lets let the device keep track of the connection history (which receiver it was paired with)"* and arranged for that data to be written to permanent memory and forgot to use a ring-buffer type arrangement rather than a straight list in that memory.

This worked fine for the first few dozen times of testing and the

[2016-02-10 18:19] SlySven opened #255 "Misidentification of M175 mouse as an M185"
This is not a high priority issue :smile:  but I was puzzled when I went to used Solaar to pair an existing M175 mouse that originally had a *nano* receiver which I had lost with a new unifying one - and I was not wanting to have to shut-down and reboot into M$Windoze to do that (I'd get bogged down with yet another *Lose*-10 update opportunity :stuck_out_tongue_winking_eye: !) - I like this proje

[2016-02-11 17:27] Lekensteyn commented on #247
Unauthenticated packages over cleartext HTTP, what can possibly go wrong...?

Have you tried the Ubuntu PPA? There is no native code, so it should just work (in theory). You do have to watch out for the Python version that is used by a release though.

[2016-02-11 17:30] #255 closed

[2016-02-11 17:30] Lekensteyn commented on #255
Looks straightforward, thanks for the patch!

[2016-02-17 11:58] mfonville commented on #250
For the debs it might be useful to set-up an Ubuntu PPA that runs the recipe to build it automatically for the various releases when there are any updates to the repo.

[2016-02-18 04:17] noderat commented on #231
Perhaps one of the contributors comment on this issue? Having the option to disable notifications completely would be nice.

[2016-02-20 21:07] johngilbrough commented on #231
I have Solaar on my Ubuntu laptop and I'm getting the annoying notification (image attached) every 60 seconds that my mouse battery is just fine.  This is something you might want to know when you first log on, but not two hundred times a day.  Maybe this isn't Solaar's doing, but how would you know?

![solaar mouse](https://cloud.githubusercontent.com/assets/226320/13199148/56890016-d7eb-11e5-8ed

[2016-02-27 06:56] ibu2004 commented on #251
Follow the instructions here: https://pwr.github.io/Solaar/debian.html

After that, run `sudo apt-get install solaar`

[2016-03-11 22:39] javitonino commented on #208
I have submitted a PR adding support for DPI and Smart Shift for the MX Master. I have one of these and I am already set up for USB sniffing the Windows drivers, so if anyone is interested I could provide some traces or help to add new functionality.

[2016-03-11 23:42] mishan commented on #208
Thank you @javitonino !

[2016-03-12 14:42] heynnema commented on #250
Minor bug... when running packaging/build_deb.sh, it builds 5 files into the dist folder. If you run build_deb.sh later, it fails, because it finds that the existing .orig.tar.gz in the dist folder doesn't match what it's building, so it stops. By manually deleting the dist folder (or its contents) then build_deb.sh works fine again. Cheers, Al

[2016-03-13 23:36] #231 closed

[2016-03-21 21:51] hobarrera opened #260 "`solaar-cli show -v` crashes when a Performance MX is charging"
When my device is charging, `solaar-cli show -v` crashes:

[code]

[2016-03-21 23:04] dstensnes commented on #162
I thought I had the same, but I noticed mine says: "K400 Plus", so then maybe it is 3 different keyboard variants called K400:
[code]

[2016-03-21 23:44] hobarrera commented on #260
It would seem that this is mostly fixed in master (though the status says "N/A, recharging", rather than merely "recharging".

Maybe it's time for a new release? There seems to be a lot of unrelease updates/fixes out.

[2016-03-22 04:38] MestreLion commented on #133
Exactly the same problem here, with Python 2.7 under Ubuntu 12.04 64-bit.

It seems harmless as the software works perfectly (it lists all my devices, and I was able to pair an additional mouse), but it's a very annoying traceback. I can see it either when launching the GUI from the terminal, of directly via menu (in the latter, it triggers Ubuntu's apport, errors are the same)

[2016-03-22 17:04] carewolf commented on #158
That works great with Qt5 applications too. Still wish the solaar commands would make it into either xinput or the kernel though

[2016-03-22 19:41] w-shackleton commented on #158
So the real place to solve this would be in the kernel / in X11 (I'm not quite sure which one). This is something I'd like to do at some point, time permitting.

Basically, this mouse has a mode (incorrectly labelled "side scrolling" in Solaar) that switches it into "I'm being controlled by a Logitech driver, not just a mouse driver" mode (the off setting in Solaar). In this mode the mouse gives m

[2016-03-24 00:24] ellisistfroh opened #261 "README.md contains broken link to Logitech [nano]"
hi!

broken link: [nano]: http://logitech.com/mice-pointers/articles/5926

suggesting this one: ->

http://support.logitech.com/en_us/parts

Thanks for the work already done.

[2016-03-24 00:43] ellisistfroh commented on #234
You could just type in a terminal

solaar-cli show -v

Since I've done that I found out that I need a new usb-receiver (not nano but unifying, cost 8$ as bulk)

[2016-03-27 16:53] dwiniecki opened #262 "Any updates to address security holes identified by Bastille Security ?"
With the late-February announcement from Bastille Security, of vulnerability for Logitech Unifying receiver devices (firmware 012.xxx.00xx, 024.xxx.000xx) I would like to ask if this Solaar package has been or will be updated?

The firmware reported with Solaar 0.9.2 is 12.01.B0019.  Is this vulnerable to the identified vulnerability?

I have taken my Logitech devices offline in the interim.

[2016-03-27 17:20] heynnema commented on #262
Logitech has already released firmware updaters for their effected dongles. Check their support and forums for details.

https://forums.logitech.com/t5/Mice-and-Pointing-Devices/Logitech-Response-to-Unifying-Receiver-Research-Findings/td-p/1493878

[2016-03-27 17:24] dwiniecki commented on #262
Yes.  I have seen that.  How to get it onto a Linux setup (Ubuntu 14.04)?

On Sun, Mar 27, 2016 at 11:20 AM, Al Heynneman <notifications@github.com>
wrote:

[2016-03-27 17:47] Lekensteyn commented on #262
In the past I wrote a firmware updater specific to the T650 touchpad (https://git.lekensteyn.nl/t650-dfu/), I have no idea if the protocol also works for the receiver, I have yet to try it. In any case, communication with the receiver and devices should be ceased until the update is complete, I think that the updater will be kept as a separate tool (and not included in Solaar since it is too noisy

[2016-03-27 17:56] heynnema commented on #262
No, you need a real Windows machine to install the firmware into the Logitech Unifying receivers.

Cheers, Al

[2016-03-27 17:58] heynnema commented on #262
ps: the Logitech firmware .exe files don't actually do the firmware upgrade. All they do is to install the firmware bin file into a special file directory that the Unifying Software uses to actually do the work.

Cheers, Al

[2016-03-27 18:04] Lekensteyn commented on #262
For device firmware updates, the exe file contained a binary which is encrypted if I remember correctly. The actual firmware blob is made available in plaintext while the update is in progress, so you can actually copy that firmware file and put it on the device *if you know the protocol*. The linked t650-dfu program could probably be modified for these receivers.

I suppose that it works similar

[2016-03-27 18:13] dwiniecki commented on #262
That is all good information.  However, how do I use this to update drivers on a Linux (Ubuntu 14.04) system?

My Solaar setup indicates the driver in use is 12.01.B0019.  This doesn't exactly meet the pattern of the problematic driver provided by Logitech (firmware 012.xxx.00xx, 024.xxx.000xx) but I do not know if the Solaar driver fixes the issue identified by Bastille.

Any advice will be appre

[2016-04-16 12:46] baos780 opened #264 "random intervol repeating keys, not mechanical"
Having an odd issue where at random moments my '5' key starts repeating.
Have replaced the k800 keyboard with another brand new k800 keyboard, replaced the usb cord, replaced the dongle.  Also unplugged the mouse(Logitech G602, not a solaar mouse/conflict?) while it was happening, it continued.  Shut off keyboard while it was happening, continued.  Pulled keyboard dongle while it was happening and

[2016-04-17 12:17] Lekensteyn commented on #264
Could it be a late April 1st joke (that happened before)?

[2016-04-17 13:08] baos780 commented on #264
It's been happening for a few months,  Usually happens once every 24-48 hours.  It stops when I actually type the '5' key however this is the second k800 keyboard.  If it's an april fools joke, it's in the source code.

[2016-04-17 13:41] Lekensteyn commented on #264
(Not a joke from Solaar, but maybe a friend.)

It could be a power management issue of the USB controller. Does it also happen with other ports? Does it happen on other machines as well? What if you leave the machine unused for 48 hours?

[2016-04-17 14:08] baos780 commented on #264
I suspect the power issues and bought a cheap usb power monitor, but would a repeating 5 and no other key be too specific to be a power issue?  From my reading, some gigabyte motherboards are plagued with bad power design.

[2016-04-17 14:42] Lekensteyn commented on #264
Hmm, some minutes ago I also noticed 5s in my Firefox location bar (laptop and K800 keyboard as well). No idea if I accidentally dropped something on my keyboard or if something else is going on.

I only remember one other occassion where a key would continuously be pressed, don't know if that was 5 or something else. Since you seem to be able to reproduce it, can you obtain a USB capture using Wi

[2016-04-17 15:39] baos780 commented on #264
Sounds good. I'll probably have something in 48 hours.

[2016-04-17 16:20] baos780 commented on #264
My dumpcap is usbmon4, however I have a logitech g602 mouse which operates on a different frequency with a different receiver which is not supported by solaar.  However usbmon4 seems to capture the mouse, or at least I watch the packet count go up when I move the mouse(again not through a unifying receiver).

[2016-04-17 17:52] Lekensteyn commented on #264
Multiple USB devices can reside on the same bus, so try moving around devices until you have isolated the bus to one device. (Check with `lsusb -t` for a tree).

[2016-04-18 09:36] Lekensteyn commented on #264
I can now also "reproduce" the issue. Left my keyboard on over the night and woke up with typing 5s at the login screen (SDDM, KDE Plasma). This happened yesterday at least twice (once at the login screen, once while developing).

Other possibly helpful information:

 - M525 mouse is turned off.
 - K800 keyboard was turned on, but on low battery.
 - Linux 4.5.0-1-ARCH

You can use this command to

[2016-04-18 13:53] ericnchen opened #265 "Battery incorrectly shows 0% when charging"
When I plug my MX Master in to charge both the CLI and GUI window (that obnoxiously pops up) show, incorrectly, that the battery is at 0%.

[2016-04-18 16:19] corebots commented on #253
is nobody experiencing this behavior ? i should have mentioned that this happens on Fedora23 with GNOME 3.18. Very annoying that this setting isn't permanent

[2016-04-20 15:02] baos780 commented on #264
Got the cap, not sure how to make sense of it.
[usb.pcapng.gz](https://github.com/pwr/Solaar/files/228172/usb.pcapng.gz)

[2016-04-20 16:30] arigit commented on #208
Running the latest code from the master branch; is there a way to set the "Smart Shift Sensitivity" with Solaar command line (or GUI)? I'm new to solaar.

I tried changing the sensitivity on Windows using the official driver (which works) but unfortunately when I switch to my linux desktop, all the custom settings are gone, looks like the settings do not get stored in the device.

Bootloader: BOT

[2016-04-24 08:02] laanwj opened #266 "Wireless Touch Keyboard K410 not recognized due to assertion error"
Firstly: thanks for writing this software. Being able to toggle Fn key behavior makes my life with this keyboard lot easier.

There is a minor issue with the K410, causing its entry not to be added to the menu. I know it is not in the supported list so it may be expected. But the fun thing is that it is easy to bypass. The assertion in

[code]

fails on a setting where `self.device_kind` is `mouse

[2016-04-24 08:06] laanwj commented on #266
`show` output for the device is:
[code]

[2016-04-25 17:52] notaduck opened #267 "Logitech MX master -> Horitonzal issue"
So i got my new Logitech mx master today.
Almost everything is working and it was just plug & play but the horizontal scroll isn't working?

OS -> Deepin 15.11 (ubuntu based)
Solaar version -> 0.92

[code]

[code]

[2016-04-29 18:48] haarp commented on #158
@w-shackleton

Correct. And I think this really needs to be relabelled.

(It can also break left-clicking when the mode is enabled and the wheel clutch disengaged. No idea what's happening there)

This would be a great feature to have! Sometimes it's the little things that subtly improve the experience and feel of software :)

For a good reference, you could have a look at the (currently not yet m

[2016-04-29 18:52] haarp opened #268 "Support Bluetooth mice"
Some mice such as the MX Master support connecting over Bluetooth, which works really well and reduces the number of receivers one needs to buy.

Unfortunately, Solaar does not support this at all. Could this be added? Do these mice even speak anything but regular HID over Bluetooth?

[2016-05-01 10:42] jontis opened #269 "enhancement: property battery rechargeable"
I think it might be useful to set a property for  which battery type you use.
I put rechargeable batteries in my mouse and a fully charged rechargeable battery has a much lower voltage than a non-rechargeable. Thus, the rechargeable is reported as having low charge even when it is full.

[2016-05-01 21:10] w-shackleton commented on #158
`xinput list-props <devnum>` reveals my Performance MX uses evdev on Ubuntu 16.04.

Smooth scrolling on Linux seems to have become my life mission.. I've recently got code [accepted into Chromium](https://codereview.chromium.org/688253002/) to support it too.

[2016-05-01 23:02] heynnema commented on #158
Check out the add-on Smoothwheel. I works in Thunderbird and Firefox. Makes you scroll wheel nice and smooth.

Cheers, Al

[2016-05-01 23:03] heynnema commented on #158
It works in...

[2016-05-18 17:45] ramok opened #272 "Support wireless headset g930, g933 to show battery status?"
It is possible make support of them, even they did't use Logitech Unifying Receiver, but use HID++?

[2016-05-20 09:46] hfarazi opened #273 "Battery status is wrong"
I use MXanywhere2 mouse and it seems that although the charge percentage is correct on my mac logitech software, in "Solaar" it is wrong. (it can jump from 0 to 90 to 50%).

[2016-05-20 21:53] mattacc commented on #5
I'm still experiencing this issue with Solaar and the M510. My Solaar version is 0.9.2

[2016-05-21 17:37] Lekensteyn commented on #266
Eh, oops the assertion was added in c464e049bf05605f40c7c9b51140f85c35d35c21, but it breaks combo devices like yours. This is slightly annoying, maybe it is better to remove the assert for now... better to show a weird preference than crashing on an assertion failure?

[2016-05-21 17:38] Lekensteyn commented on #269
This cannot really be detected, would it help if the warning is not shown?

[2016-05-21 17:40] Lekensteyn commented on #272
It might be possible, can you show lsusb information for this device? Is it wireless or not?

You can also try the to tools/hidconsole tool to connect (might require some editing of device IDs).

[2016-05-21 17:42] Lekensteyn commented on #268
HID++ also supports Bluetooth as transport AFAIK. I don't have the time/devices to test with, so if someone is interested feel free to tackle this.

[2016-05-21 21:11] jontis commented on #269
I was hoping that you could set the property manually if the option was there.
Maybe some weak intelligence could set it if we want to go advanced. I figure that an alkaline battery with very low voltage is going steeply down, while a fully loaded rechargeable battery with the same voltage would hold that voltage for a long time. But initially, a manual setting is what I was hoping for.

[2016-05-30 12:44] hmksq commented on #273
The Logitech program (Windows) only displays like "Good" and not by percent. I think It should be replaced with something similar or both (if there are some devices which gives detailed percentage)

[2016-05-30 12:46] hmksq commented on #265
On Windows, it does not tell you how full is the battery either. It only shows a white battery with a charge symbol with "Charging" tooltip. Not an issue with the program, but it is the device being too secret.

[2016-06-01 20:55] Lekensteyn commented on #269
Unfortunately most devices only report four gradations, critical (5%), low (20%), good (50%) and full (90%). We cannot really read voltages and tune it to the type of batteries that are in use.

[2016-06-06 03:53] AngelBright commented on #227
Hi. I just had the exact same problem; suspect it is just a GUI issue. No matter what I did, the K750 would not work. However, the minute I connected a cabled USB keyboard, suddenly the K750 started working. Still doesn't show up in the GUI interface but does show on the command line.

[2016-06-07 10:26] ShyPixie opened #275 "Start Solaar minimized"
Why we don't have a --minimized param to be able to start the gui minimized when start? I'm trying to autostart Solaar minimized with xfce but don't works with the last release.

[2016-06-19 00:38] Lekensteyn commented on #275
Can you try #161?

[2016-06-19 00:48] Lekensteyn commented on #5
@mattacc  does `upower -d` show the battery status for you?

[2016-06-19 01:10] ShyPixie commented on #275
I want to hide the window, not the trayicon.

[2016-06-20 14:09] baos780 commented on #264
The bug has been solved.  https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1579190
[quote]
Kamal Mostafa (kamalmostafa) wrote on 2016-06-16: 	#31

Tim, its essentially the same reason that we saw the problem manifest in some Wily and Xenial kernel versions, then seem to disappear in the next kernel version, only to return again in some future version:

The bug, which definitely existed all the

[2016-06-20 15:00] mattacc commented on #5
mouse
    present:             yes
    rechargeable:        yes
    state:               unknown
    warning-level:       none
    percentage:          0%
    icon-name:          'battery-missing-symbolic'

[2016-06-21 09:31] weichert commented on #200
+1

[2016-06-21 13:47] divad commented on #272
`Bus 001 Device 003: ID 046d:0a1f Logitech, Inc. G930
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               1.10
  bDeviceClass            0 (Defined at Interface level)
  bDeviceSubClass         0
  bDeviceProtocol         0
  bMaxPacketSize0        64
  idVendor           0x046d Logitech, Inc.
  idProduct          0x0a1f G930
  bcdDevice            1.0

[2016-06-21 13:58] divad commented on #272
Not sure what to do with hidconsole...

[code]

[2016-06-22 20:56] jpeter01 commented on #137
...same problem:

user1@linux-egvz:~/Solaar/Solaar-0.9.2/bin> ./solaar -d
22:41:28,497     INFO [MainThread] root: language hu_HU (UTF-8), translations path None
22:41:28,502     INFO [MainThread] solaar.ui: application /io/github/pwr/solaar, registered True
22:41:28,573     INFO [MainThread] solaar.ui.tray: using StatusIcon
22:41:28,573     INFO [MainThread] solaar.ui.notify: starting desktop not

[2016-06-26 08:05] jdorenbush commented on #109
This is old, but I'm hoping someone can shed some light on this issue. I'm experiencing the same issue with my LX710 mouse/keyboard. Currently running Ubuntu 16.04.

[2016-07-25 15:19] daoswald opened #278 "Specfy Gtk version in gtk.py"
When one starts solaar from the command line under Ubuntu linux 16.04 a warning is generated about the need to specify a version for Gtk:

$ solaar
/usr/share/solaar/lib/solaar/gtk.py:33: PyGIWarning: Gtk was imported without specifying a version first. Use gi.require_version('Gtk', '3.0') before import to ensure that the right version gets loaded.

[2016-07-25 15:24] daoswald commented on #267
I find that horizontal scrolling works on my MX Master (same firmware as listed above).  However, the scrolling is reversed from what I would consider intuitive.  I expect that rolling my thumb upward will scroll to the right, and down to the left.  If the thumb-wheel were sitting on top of the mouse, this would be the most obvious orientation, and the fact that it's on the side of the mouse doesn

[2016-07-26 18:26] rohantib opened #279 "Why can't Solaar load information about my m510 Logitech wireless mouse?"
I have the mk550 Wireless Wave combo. Solaar picks up my keyboard just fine, showing it has an encrypted connection and full battery. However, my m510 mouse is shown by Solaar to have an unknown amount of battery charge and an unencrypted connection. The options to enable smooth scrolling and side scrolling are also greyed out with a warning icon next to them saying that read/write operation faile

[2016-07-27 23:17] shred opened #280 "Support Dell Universal Receiver"
The Dell KM714 wireless mouse and keyboard combo originally came with a Logitech Unifying Receiver, but now Dell delivers their own "Universal Receiver" with the same combo. It all still looks very much like a rebranded Unifying Receiver with its own USB ID.

Is it possible to add Dell Universal support to Solaar? I would be happy if I could enable keyboard encryption...

[code]

[2016-07-29 18:48] dukedave opened #281 "GPG key change?"
I have [the PPA](https://launchpad.net/~daniel.pavel/+archive/ubuntu/solaar) added, but since yesterday when I `apt-get update`, I saw:

[code]

I followed the advice [here](http://askubuntu.com/a/520831/82469) and got this output:

[code]

Googling _Daniel Pavel_ then led me to here.
---

I can now run `apt-get update` without the `GPG error`, but I thought I'd log an issue here in case others se

[2016-07-30 14:09] SlySven commented on #279
As it happens, keyboards __need__ to be encrypted to protect against wireless key-sniffing.  Mouse movements and button presses do not need that sort of protection (unless, perhaps, the layout of things on the screen that are being interacted with by the user are in a fixed, known, position and that a third {_malicious_} party can know _what_ all the things are)! :see_no_evil:

[2016-07-30 20:58] Lekensteyn commented on #279
Perhaps the link is encrypted, but reporting just failed. Can you run solaar with the `--debug` option from a terminal and copy the output? You can strip the repetitive ones that appear when you move a mouse.

[2016-07-31 08:35] Lekensteyn commented on #281
These GPG keys are created by Launchpad, could it be that it got removed due to an dist upgrade?

[2016-08-07 16:07] LuciferSam86 opened #282 "Question: support function keys swapping on K400 plus?"
Hello everybody,
does latest version of solaar supports function keys swapping or not?
If not: could I configure the keyboard on a Windows machine and the reconnect to Linux machine and the keyboard "remembers" the setting?

[2016-08-09 03:21] jasonhansel commented on #265
Same problem here (with Anywhere Mouse MX). It would be nice if the GUI showed a "Charging" message instead of just "0%".

[2016-08-09 12:01] jacargentina commented on #191
Same thing here. I think solaar does't has a read/save settings built-in ?

[2016-08-09 12:06] Lekensteyn commented on #191
It should restore settings on connection unless there is a bug somewhere.

[2016-08-09 12:08] jacargentina commented on #191
How can i search for the possible bug? Where are the settings stored?

[2016-08-09 12:14] Lekensteyn commented on #191
If you run solaar with the `--debug` option it will print a lot of information. If you see a Python exception backtrace somewhere there is an issue.

[2016-08-09 12:18] jacargentina commented on #191
Ok, done. Cant' see any "loading config..."

[code]

The `unrecognized...` goes continuosly

[2016-08-09 12:39] jacargentina commented on #191
Yes, It seems there is no saving of the "swap fn" thing?
`cat config.json`

[code]

[2016-08-09 13:24] Lekensteyn commented on #191
Is your mouse on while changing the setting? When changing a setting you are supposed to see:

    fn-swap: write (value) to (device name)

[2016-08-09 13:24] Lekensteyn commented on #282
Function key swapping is supported, the keyboard does not remember the state though. This should be handled by software like Solaar.

[2016-08-09 13:26] Lekensteyn commented on #267
@javitonino maybe you know how this is supposed to work here? I guess this is more a libinput/xinput configuration issue, but then I have no device to test with.

[2016-08-09 13:40] jacargentina commented on #191
I change the setting, but nothing is logged like that. The mouse works.

[2016-08-10 10:23] Arthur-D commented on #229
I have something similar with Kubuntu 14.04. I need to unplug my Unifying Receiver and then reinsert it for any battery status to show.

[2016-08-11 08:41] javitonino commented on #267
Horizontal scrolling should work out of the box, no need to install Solaar at all. It is handled direcly by the xinput system, so I'd say it is not a Solaar issue (unless uninstalling Sollar magically fixes it).

@daoswald I think there is a reverse scroll wheel option implemented in the HID protocol that could be added to Solaar. But you can use xinput directly for that (do something like `xinput

[2016-08-17 16:47] v01d commented on #282
I'm trying to swap FN key state on K400 plus with solar and it does not appear to be configurable:

    [v01d@kanji ~]$ solaar-cli config 1
    solaar-cli: error: no settings for Wireless Touch Keyboard K400 Plus

[2016-08-22 09:58] fropeter opened #283 "Device support: Logitech MX Anywhere 2"
This is not included on the device page, so I thought I'd submit some data:
(see below for a power issue)

The mouse is rechargable as opposed to the model "MX Anywhere"

[code]

I wonder if this is an issue or normal behaviour:
It seems that solaar only reports 90%, 50% or 20%. Even when the data above was collected, solaar shows 20% and a warning sign in the gui, not the 0% and charging state. A

[2016-08-22 10:15] didierm commented on #279
Confirmed with mouse M510 :
* battery charge info is unknown ;
* smooth scrolling & side scrolling  are greyed out.

Solaar version (on Fedora 24) :
solaar-0.9.2-4.20150528 (git cf27328)

Output of `$ solaar -d` (output from detected keyboard K520 is also included) :
[code]

[2016-08-26 22:51] PRJosh commented on #282
Same here.

[2016-08-26 23:07] v01d commented on #282
Btw, in latest master I do have support for this. It seems it is simply not
in the latest release.

On Fri, Aug 26, 2016 at 7:51 PM, Josue Rivera <notifications@github.com>
wrote:

[2016-08-26 23:52] PRJosh commented on #282
You are correct, master has the feature. Thanks!

[2016-08-27 10:32] codingsnippets opened #284 "logitech mx master mode shift (reprogrammable keys?)"
there is a small middle button on mx master, it currently it maps directly to changing from hyper scrolling and normal scrolling.

I am wondering if there is a way to make it back to just being a middle button.

[2016-08-28 14:08] mohitt opened #285 "Xenial PPA"
Hi Daniel,

Can you please add 16.04 or Xenial release in PPA as well. It works on Xenial. :).

Regards
Mohit

[2016-08-28 16:49] PRJosh commented on #282
Unfortunately now I get "read write operation failed" when I try to switch it :/

[2016-09-01 10:42] Magnesus commented on #282
How about k780?

[2016-09-04 11:39] MagicFab opened #286 "Please merge es.po language update"
I submitted this a few months ago, it would be nice if it could be merged:
https://github.com/pwr/Solaar/pull/263

Thank you!

[2016-09-04 20:03] Lekensteyn commented on #286
Merged in fa5fba7, thanks! Next time you can also just ping on the issue :)

[2016-09-04 20:03] #286 closed

[2016-09-04 20:04] Lekensteyn commented on #282
@Magnesus If the device is a recent one, support for such features should automatically be detected.

[2016-09-04 20:07] Lekensteyn commented on #285
Solaar is already included in Xenial, a PPA would be needed if you want the most recent development version. (Well, @pwr seems a bit busy, so there will probably not be any new releases soon.)

[2016-09-04 20:09] Lekensteyn commented on #279
@didierm Can you reproduce the issue with the code from the master branch?

[2016-09-04 20:10] Lekensteyn commented on #283
The protocol is limited to reporting four battery levels (and apparently it cannot report a level when charging), there is not much that can be done here I am afraid.

[2016-09-04 20:11] MagicFab commented on #286
Thank you! Ping where? EMail?

[2016-09-04 20:39] MagicFab opened #287 ""failed to open pairing lock" error not localized, others possibly missing"
After updating language files manually, I noticed this error message is not localized:

"failed to open pairing lock"

Can the corresponding string just be added to the language file (for example fr.po) and with its translation? If so I can do it but I think the code also needs to be changed, I didn't check if this was hardcoded (I suppose it is).

[2016-09-04 20:42] MagicFab opened #288 "Please update github and official Debian packages to 9.3"
It seems only packages up to 9.2 are available from Debian from this repository:
https://github.com/pwr/Solaar/blob/master/docs/debian.md

Official Debian packages (in Debian itself) also seem outdated:
https://tracker.debian.org/pkg/solaar

[2016-09-04 20:46] MagicFab commented on #285
@Lekensteyn I am also interested in this, mostly to also get the updated translations :)

[2016-09-04 21:18] fropeter commented on #283
That is as I suspected.
What about the mismatch between the gui and the command line? It seems that the gui doesn't update the charge level, even when 'solaar show' reports different levels. I tested this over several hours, charging the mouse fully, and then using it quite a while discharging at least one level down. The gui still showed the 20% warning through all that. I don't remember what cau

[2016-09-04 21:52] Lekensteyn commented on #283
There is supposed to be an event from the device when the battery level changes on which Solaar can react by reading the battery status. if you invoke `solaar show`, it will read the current state. So either Solaar has a bug, or the device is not reporting the event correctly. You could watch `solaar --debug` to figure out whether the event ("Notification") occurred,

[2016-09-04 21:55] Lekensteyn commented on #288
For the official packages, contact the Debian maintainer.

The packages in the pwr repo will probably not be updated any time soon. I can push new packages to that repo, but I think that a new release would be better because everyone else benefits too. Lack of time though to review all patches and bugs :/

[2016-09-04 21:57] Lekensteyn commented on #287
I think that the code needs to be modified first, otherwise it will not be picked up.

The message is quite technical, but it means something like being unable to signal the hardware that the receiver device can start pairing with a new device.

[2016-09-04 21:58] Lekensteyn commented on #286
Reply to the issue for example.

[2016-09-04 22:34] fropeter commented on #283
I ran `solaar --debug`, but got right back to the command line. It reported that it had connected to dbus; is this normal or do I have to kill the running instance first? I expected the program to run until I stopped it.

There were also some python warnings (unrelated I think). Output below.

[code]

[2016-09-05 01:13] MagicFab commented on #288
I've already asked the Debian maintainer to sync, sorry if I didn't link directly:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=819687

[2016-09-05 01:34] fropeter commented on #283
Of course I had to stop the running solaar... enough said..

I devided the output into two parts. This part seems relatively ok
[code]

Then I got 8680 lines like this in a couple of minutes (the number is real; I redirected all output into a file)

[code]

The only difference apart from the timestamp is that long number in the parantheses
Notification(1,02,00,**0008000000003600000000**)

[2016-09-05 16:10] MagicFab commented on #246
For now you will need to:

1. Install xbind-keys and xautomation:
`sudo apt-get install xbind-keys xautomation`

1. Create a default config file for your user:
`xbindkeys --defaults >> ~/.xbindkeysrc`

1. Add this to ~/.xbindkeyrc (including quotes):

[code]

1. Restart xbindkeys if it was already started and test by pressing your mouse buttons:
`sudo pkill -f xbindkeys && xbindkeys`

1. Once sati

[2016-09-10 00:29] nermolov commented on #284
Would love this as well, I've mapped that button to close tabs in Mac OS and want some way to add that functionality in Linux.

As a side note, `xev` does not display any output when clicking the button.

[2016-09-12 06:25] verybadsoldier opened #289 ""Read/write operation failed" when trying to switch FN-Swap on Logitech K400 in the UI"
I want to use Solaar to turn off FN-Swap on my Logitech K400 keyboard.
I installed the current version from the master branch on  Ubuntu 16.04 x64 machine by calling "sudo rules.d/install.sh" and "sudo setup.py install". Things worked fine so far: The Solaar icon shows up on the desktop and it detects my Logitech K400 and shows up in the UI.

But when I try to hit the UI switch "FN swap" then the

[2016-09-13 06:41] verybadsoldier commented on #289
I just found out that the keyboard enters some standby mode after you did not touch it for some minutes.
"solaar show" reports then "Battery: unknown (device is offline)."

The "read/write error" does NOT occur if I just used the keyboard (so it is not in standby) and then start Solaar. The UI pops up then and works fine.

So there are three stats for the keyboard:

- Turned off by the power switc

[2016-09-19 17:25] alex9099 opened #291 "Unicode error"
Hi, i'm reciving this error:
 `UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 24: ordinal not in range(128)`

when running either the solaar or the solaar cli python script on the bin folder,

already applied the udev rules and it works fine with the packege that is on ubuntu but i need to swap the fn keys, and that options is marked as unsuported, from what i saw it is suppo

[2016-09-19 17:31] alex9099 commented on #291
Nevermind... you can close this issue, it was because the code was on a path with non unicode chars like /home/user/Transferências/solaar

Thanks for this code, it worked fine on the k400 plus /touch to change the fn key function :+1:

[2016-10-01 18:14] tuxmaster opened #292 "MX™ 620 Cordless Laser Mouse: Receiver detected, but not the mouse itself."
For the full description see: [Fedora Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1377029).
--- Copy ---
Description of problem:
The tool find the sender, but can't access it.
Only the error at the picture are shown.

Plug out and plug in the receiver don't help.

Version-Release number of selected component (if applicable):
solaar-0.9.2-4.20150528gitcf27328.fc24.4.noarch

How reproducib

[2016-10-02 23:58] #289 closed

[2016-10-04 17:33] Lekensteyn commented on #292
Hmm, perhaps the reverse engineered information is not entirely correct. In your output the (presumably) reported number of devices field is indeed 0.
[code]

Will get back to this later.

[2016-10-06 16:28] Lekensteyn commented on #292
Is this device like 9 years old? Apparently it does not support the Unifying, but Quad protocol.

Product specifications page:
http://support.logitech.com/en_us/product/mx-620-cordless-laser-mouse

[2016-10-06 17:13] tuxmaster commented on #292
Yes, but only 3 years old.

[2016-10-07 09:49] Lekensteyn commented on #292
OK, apparently the protocol used by older receivers (Quad) always have zeroes after the base address. Can you try replacing this:
[code]
by
[code]
in `lib/logitech_receiver/receiver.py`? Do things like battery reporting work?

[2016-10-08 13:12] tuxmaster commented on #292
Yes, this will work :)

[2016-10-08 13:32] Lekensteyn commented on #292
@tuxmaster Does that mean that you was able to retrieve battery information (and maybe other settings)? Do you have a `solaar --debug show` output?

[2016-10-08 19:34] tuxmaster commented on #292
Yes, but I can't post the picture, because github don't like the png file.
solaar --debug show will result in:
Unifying Receiver
  Device path  : /dev/hidraw1
  USB id       : 046d:c521
  Serial       : E8E7B5FC
    Firmware   : 57.01.B0023
  Has 1 paired device(s) out of a maximum of 1.
  Notifications: wireless (0x000100)
21:33:31,051     INFO [MainThread] logitech_receiver.receiver: <NanoReceiv

[2016-10-10 23:22] CaptainSpam commented on #279
I'm having the same problem with an M510 mouse, and I can, indeed, reproduce the issue with the code from the master branch.

However, curiously, I have another M510 mouse with a different receiver, and THAT works perfectly (has worked perfectly for a year or two, in fact; that's why I got an M510 for my desktop, too).  When I compare outputs from `solaar show`, I get some interesting differences.

[2016-10-11 09:35] ashic opened #293 "How can I disable smartshift with the MX Master"
I installed solaar from the ppa, and it detects my MX Master in the Solaar GUI. However, I can't find a way to change any of the settings. I'd like to disable smartshift completely. Is the usage documented somewhere?

[2016-10-12 06:02] jrbenito commented on #279
I can confirm what @CaptainSpam  said. I just bought a M510 today and here is what I found:

1) Solaar cannot read my M510 properties too. It does not report battery nor does it allow turn on/off scrolling and side scrolling features

2) My receiver looks exactly like the newer receiver @CaptainSpam has, firmware 12.03.B0025 and bootloader 02.15 and other AA.AA

3) My M510 mouse reports as HID++ 1

[2016-10-12 06:03] jrbenito commented on #245
Probably same issue as #279

[2016-10-12 15:47] jrbenito commented on #196
Is this a Nano receiver? (non unifying?)

I have this:
[code]

But the first one is not recognized (and actually isn't a true unifying but maybe a Unifying ready?)

[2016-10-12 15:54] jrbenito opened #294 "Logitech adapter not regonized (MK270 combo)"
Hi,

I recently bought a MK270 combo (K270 keyboard and M185 mice). I wrongly thought it was unifying because K270 is supposed to be unifying. However, my combo seem not be a unifying:

- Receiver is not recognized by Solaar
- If try pair this K270 with a true unifying receiver Solaar says it found a device but not compatible.
-I have a K270 (not combo) with true unifying support that works very w

[2016-10-12 16:20] jrbenito commented on #294
I found issue #234 to be the same as this

[2016-10-12 16:21] jrbenito commented on #234
I have same combo with very same receiver and another receiver that is unifying for sure:

[code]

[2016-10-15 05:22] jrbenito commented on #234
Information gathered from this USB receiver:

Kernel Log:
[code]

The /dev/ files:

[code]

Solaar (master branch):

[code]

Same command over /dev/hidraw8  returns a "broken pipe" exception.

[2016-10-15 05:28] jrbenito commented on #234
Modified Solaar as:

[code]

Then run it:

[code]

System:

[code]

Now I need to understand what Solaar is looking for and why it is not getting it. I will try figure this out when I come back from my business trip.

[2016-10-15 05:30] #294 closed

[2016-10-17 00:40] Lekensteyn commented on #234
Hey @jrbenito, thanks for your investigation. Your changes to Solaar should be sufficient. Can you run `solaar show` with `--debug` and look for hints? The attribute `_devices` should really exist (see `lib/logitech_receiver/receiver.py`, class `Receiver`).

[2016-10-17 00:41] Lekensteyn commented on #245
Indeed a dupe of #279

[2016-10-17 00:41] #245 closed

[2016-10-17 00:43] Lekensteyn commented on #293
The PPA is outdated, try to install it from git master. Unfortunately I do not have access to the PPA, only this repo.

[2016-10-17 00:46] Lekensteyn commented on #292
That can probably be worked around by removing `dev.ping()` in `lib/solaar/cli/show.py`. A proper fix needs to skip the check for this special device, patches welcome.

[2016-10-17 15:23] jrbenito commented on #234
@Lekensteyn ,

Yes, I will do it and update this issue. However this will take until next week, due to bis trip I have no access to the receiver on this machine.

BRs
Jrbenito

[2016-10-17 15:30] jrbenito commented on #222
Guys,

The problem with MK220 is that it is non unifying just like the MK270 (see issue #234). The receiver bundled with MK220 has product ID 0xc534 exactly like MK270 from the issue above. At this time, Solaar does not recognize this device, I made some changes to Solaar and it found the device but crashed with error as told by @Lekensteyn (again, see #234).

If you are on Linux machine with the

[2016-10-17 15:31] jrbenito commented on #234
Relates to #222 (different combo with same unrecognized receiver C534)

[2016-10-18 15:19] jrbenito commented on #280
@shred,

What driver is binding the receiver? logitech_dj or hid_generic? I bet it is hid_generic... Anyway, without a Dell receiver I can´t try but if you would like, I think you can start cloning this repository into your Linux and modifying

1. `lib/logitech_receiver/base_usb.py`, add your receiver to the list. Since it is not logitech (vid 046d) you need to create a new lambda at line 33 simil

[2016-10-18 15:47] tuxmaster commented on #292
This will result in:
 solaar --debug
17:45:54,616     INFO [MainThread] root: language de_DE (UTF-8), translations path None
/usr/lib/python2.7/site-packages/solaar/gtk.py:34: PyGIWarning: Gtk was imported without specifying a version first. Use gi.require_version('Gtk', '3.0') before import to ensure that the right version gets loaded.
  __import__(module)
/usr/lib/python2.7/site-packages/solaar/

[2016-10-20 17:05] jrbenito commented on #152
Same as #222 and probably same as #234

So, for #234 we shall have some progress based on the investigation done here.

[2016-10-24 15:53] mashu commented on #265
Same here, with MX Anywhere 2.
[code]

[2016-10-25 08:25] kq01526 commented on #262
Any update?

[2016-10-25 13:24] Lekensteyn commented on #262
No updates, lack of time :| You can either try to update the firmware via a (virtual) machine running Windows or wait more until the update is available.

[2016-10-25 17:29] miguelpeixe commented on #234
Tried the same approach @jrbenito presented (adding C534 to base_usb.py), got different error.

My device is at `hidraw1`:

[code]

[code]

[2016-10-29 14:11] kubino commented on #282
I can swap fn keys on master on my Wireless Touch Keyboard K400 Plus   Thx a lot!

[2016-10-30 12:15] Petross404 opened #296 "New release/version any time soon?"
Hello and congratulations for writing Solaar. I am a gentoo user and I was wondering if you could make a release any time soon in order to have the newest of Solaar here in Gentoo (and all the rest of course).

Thank you very much.

[2016-10-30 14:22] Lekensteyn commented on #296
There are no immediate plans to release a new version, I suggest that Gentoo users take a git snapshot for the latest features and bugfixes.

There is a backlog of pull requests and issues that also need to be taken care of, help is appreciated ;)

[2016-10-30 23:29] Lekensteyn commented on #282
Question should be solved, so closing issue.

[2016-11-01 04:32] faassen opened #298 "k780 support?"
I have a k780 and while I have it working with bluetooth, it doesn't seem to want to pair with the unified receiver. I have two (one that came with my mouse, a M705, the other came with k780). The mouse pairs with both receivers just fine.

I managed to pair the keyboard with ltunify once, but it still didn't actually let me type anything. But at least it showed up in the listing. That pairing did

[2016-11-01 20:28] Lekensteyn commented on #298
Having links to the technical specifications of the device would be nice. In particular, what kind of protocol is in use. Maybe some device IDs?

Got links to the official support information from Logitech?

[2016-11-01 22:28] noderat commented on #231
@johngilbrough I'm getting that too, I think it's because the device goes into sleep mode

[2016-11-02 03:49] faassen commented on #298
I actually just came back to this issue to report I just made it work!

What was confusing is that this keyboard has 3 buttons which can be connected to 3 different devices, either bluetooth or the universal receiver. You can press the button for a few seconds to let it set up the connection. But that didn't work.

But I actually found the on and off button on the right side; it is very small and

[2016-11-02 03:55] faassen commented on #298
Okay, I rebooted. The keyboard is still working. Oddly enough it doesn't show up in the Solaar GUI anymore, which is rather confusing. The Solaar CLI does show it, along with some potentially useful information:

[code]

It's ironic it points out where the power switch it only after I found it myself to make it connect so it could tell me where it is. :)

[2016-11-02 04:21] faassen commented on #298
The GUI does show '2 paired devices', the cli shows that the k780 is paired, but the GUI doesn't actually show the k780 in the tree. It did show it after the first pairing, but it doesn't show it after reboot. I tried this with the version of Solaar included in Fedora 23, but I now also double checked this with git master and the behavior is still the same. My M705 mouse does show up.

[2016-11-02 22:11] davidbayo10 opened #299 "How can I uninstall solaar?"
I installed solaar with setup.py script and now, I want to uninstall it. How can i do it?

[2016-11-02 22:38] Lekensteyn commented on #299
There does not seem to be a standard uninstall target. For generic instructions, see:
https://stackoverflow.com/questions/1550226/python-setup-py-uninstall

[2016-11-02 23:12] Lekensteyn commented on #298
Can you include the output of `solaar --debug`? Maybe there are some hints there.

The pairing via off/on is a firmware thing, Solaar cannot change it.

[2016-11-02 23:13] Lekensteyn commented on #231
@noderat Have you tried the latest version from git master? It should have been fixed already

[2016-11-03 00:09] johngilbrough commented on #231
Where on git?

On Wed, Nov 2, 2016 at 7:13 PM, Peter Wu <notifications@github.com> wrote:

[2016-11-03 11:00] Lekensteyn commented on #231
git master, this repository. It was fixed by #257

[2016-11-03 11:06] johngilbrough commented on #231
I can see the thread that discusses this but nowhere is there a <Download>
button.  Where would I look?  Can you just send me a link to the download
page?

On Thu, Nov 3, 2016 at 7:00 AM, Peter Wu <notifications@github.com> wrote:

[2016-11-03 14:55] Lekensteyn commented on #231
There is a "Clone or download" link in the upper right corner of https://github.com/pwr/Solaar

[2016-11-03 19:01] noderat commented on #231
@Lekensteyn I'm not getting battery notifications, it's just saying "Wireless Mouse MX Master Powered On" and then hides in my message tray

[2016-11-03 20:31] Lekensteyn commented on #231
@noderat If there has not been an existing report, please open a new issue, preferably with steps to reproduce, the environment (distro, desktop environment, versions) and if it is relevant, the output of `solaar --debug`. (I get notifications for all issues, whether I have time to handle them is another matter ;))

[2016-11-03 23:27] noderat commented on #231
@Lekensteyn Will do. I know that story, now I have to find the time to create the new issue as well.

[2016-11-05 09:32] alex9099 opened #300 "Cannot open solaar on arch with KDE/Plasma"
Hi, everyone i'm with problems opening the master bin file "solaar", it gives me a error:

`
(solaar:2123): Gtk-WARNING **: Theme parsing error: gtk.css:68:35: The style property GtkButton:child-displacement-x is deprecated and shouldn't be used anymore. It will be removed in a future version

(solaar:2123): Gtk-WARNING **: Theme parsing error: gtk.css:69:35: The style property GtkButton:child-dis

[2016-11-05 12:45] Lekensteyn commented on #300
Have you tried solaar-git? Such issues should already have been fixed in there

[2016-11-05 13:51] jhonny-oliveira opened #301 "Aditional Logitech devices"
How can I get these Logitech devices (see below) to be detected and managed by Solaar?

I have a keyboard (MK320) connected to the c531 and mouse (G700) connected to the c52e.

dmesg:
[code]

$ lsusb -d 046d:
[code]

[2016-11-05 21:01] alex9099 commented on #300
no success :( same error

[2016-11-06 11:46] Lekensteyn commented on #301
See 3ea51fe1a2d75730ec016fda0a51035001483368 for example. Note: maybe someone has also been working on this, so you might want to search the issue tracker first.

[2016-11-06 11:49] Lekensteyn commented on #300
Looks like #276. Can you try this patch and report results:
https://github.com/Lekensteyn/Solaar/commit/023c5397aa92e701fe250df1f122e61180d1fb51

[2016-11-06 18:10] alex9099 commented on #300
Where can i find that file (lib/solaar/ui/tray.py) on the solaar-git AUR installation ?

[2016-11-06 18:37] Lekensteyn commented on #300
Are there any errors when running solaar from console?

[2016-11-06 18:48] alex9099 commented on #300
not errors, warnings :+1:
`
(solaar:5624): Gtk-WARNING **: Theme parsing error: gtk.css:68:35: The style property GtkButton:child-displacement-x is deprecated and shouldn't be used anymore. It will be removed in a future version

(solaar:5624): Gtk-WARNING **: Theme parsing error: gtk.css:69:35: The style property GtkButton:child-displacement-y is deprecated and shouldn't be used anymore. It will

[2016-11-06 18:52] Lekensteyn commented on #300
Oh right, now I remember having the same issue... Looks like there is already a ticked for that: #223

I've pushed the appindicator import patch to master, can I close this issue now in favor of #223?

[2016-11-06 18:54] alex9099 commented on #300
The icon appears on the tray but when i click it it should open a window AFAIK

[2016-11-06 18:55] Lekensteyn commented on #300
Right, the icon appears, but clicking does not work. The current implementation uses XEmbed (or something like that), but the xembed-proxy implementation that Plasma uses either does not like this or does not provide full backwards compatibility.

[2016-11-06 18:57] alex9099 commented on #300
So... is there any workaround for this to work ?

[2016-11-06 18:58] Lekensteyn commented on #300
No workaround at the moment I am afraid (well, apart from commenting out the "hide window" part...)

[2016-11-06 19:00] alex9099 commented on #300
How about the battery integration? i remember with linux mint that the battery level appeared near the laptop battery :)

[2016-11-06 19:12] alex9099 commented on #300
Strange, it only shows the name sometimes and never shows the battery level (solaar shows the battery level when the dongle is connected or the keyboard turned on)

[2016-11-06 19:52] Petross404 commented on #260
I noticed that python 3.5 is used. Is this version supported by solaar?

I am asking because in Gentoo, only python2.7 and 3.4 are being used for solaar.

[2016-11-06 22:25] Lekensteyn commented on #260
@Petross404 Python 3.5 should be supported. If you have the same issue, have you tried git master?

@hobarrera Would not be a bad idea after going through the existing issues. No timeline though.

[2016-11-07 10:50] Petross404 commented on #260
@Lekensteyn Python 3.5 is indeed supported. I am going to report a bug for the Gentoo's ebuild to enable it.
Also I had the same issue described above and I updated to git master which merely solved it.
`solaar show
Unifying Receiver
  Device path  : /dev/hidraw2
  USB id       : 046d:c52b
  Serial       : 3E7993E1
    Firmware   : 12.01.B0019
    Bootloader : 02.14
  Has 1 paired device(s) out of

[2016-11-07 17:10] jrbenito commented on #301
@jhonny-oliveira ,

What kernel and distro are you using? (just to compare with my lsusb here).

Btw, Oliveira seems like Brazilian or Portuguese family name, am I right?

[2016-11-07 17:58] Lekensteyn commented on #260
@hobarrera Did you just added the milestone or does Github have a bug? I also just clicked the milestone link.

Closing this issue as the bug is reportedly resolved in master.

[2016-11-07 17:58] #260 closed

[2016-11-07 18:13] Lekensteyn commented on #300
With the `upower -d` (or `upower -i ...` using the device from `upower -e`) you should see the information known to UPower. Does that contain the battery level?

[2016-11-07 21:50] jhonny-oliveira commented on #301
Hi!

Following your tip, after some bumps, I made some progress.

This is what I did:
- Downloaded the master zip file from GitHub;
- Made some edits for the MK320 mouse and keyboard combo;
- Made some edits to detect the G700 Gaming Mouse receiver;
- sudo python setup.py build && sudo python setup.py install.

This is what I got:

$ sudo solaar show
Unifying Receiver
  Device path  : /dev/hidraw3

[2016-11-07 22:18] jhonny-oliveira commented on #301
@jrbenito ,

Ubuntu 16.10
Linux dktp 4.8.0-26-generic #28-Ubuntu SMP

PT-PT :-)

[2016-11-07 22:44] Lekensteyn commented on #301
If you installed Solaar before, there should be a file in `/lib/udev/rules.d/` or `/etc/udev/rules.d/` which you can replace with the new file.

To send the patch, you have to use git. It is easier than working with zip files and manual patches. There is a full manual (and Getting Started) at https://git-scm.com/doc,

Basically:
 - fork the repo on Github
 - clone your fork
 - commit patch
 - push

[2016-11-08 22:20] jhonny-oliveira commented on #301
Done.

Best regards,
Jhonny Oliveira

On Mon, Nov 7, 2016 at 11:44 PM, Peter Wu <notifications@github.com> wrote:

[2016-11-09 12:28] jrbenito commented on #301
Very nice Jhonny, thanks for helping.

Tip: next time, when you commit the message of your Pull Request, add "close #301". By adding "close hash<issue number>"  to a commit message, Github automatically link the PR with the issue and, if merged, automatically closes the issue.

Thanks again.
PS: this relates to PR #302

[2016-11-09 12:29] jrbenito commented on #299
@davidbayo10 ,

If the answer solves your problem I think it is best to close this issue.

Thanks

[2016-11-09 12:32] jrbenito commented on #293
@ashic ,

If solved, please close this issue.

@Lekensteyn ,

Can we somehow get access or at create a new PPA? many people don´t want to install by hand or simply don´t know how. A .deb available for them would be great and PPA is really outdated.

Please share your thoughts

[2016-11-09 12:36] jrbenito commented on #291
@alex9099 ,

Please, close this issue. Since you opened it you have the permission to close. @Lekensteyn  also can do it but he is busy trying to cope his time with lot of issues and PRs.

Thanks!

[2016-11-09 13:10] Lekensteyn commented on #293
@jrbenito I can try to setup a PPA, but would then have to do some QA on it.

Would you be willing to test it once it gets up? What distro (version) are you using?

[2016-11-09 13:13] Lekensteyn commented on #291
I think it is a bug worth looking into, non-Unicode paths should probably be gracefully handled.

@jrbenito Thanks for your assistance in cleaning up bugs :+1: Do you think that you can also test the reported scenario and maybe propose a patch? I guess it is not that high priority since you normally do not encounter it though.

[2016-11-09 13:17] jrbenito commented on #278
This issue seems to be solved on master branch.

Could you please confirm and close?

[2016-11-09 13:19] jrbenito commented on #291
@Lekensteyn

Agreed. Did not think this way.

Yes, I will test and try solve it.

[2016-11-09 13:20] jrbenito commented on #293
@Lekensteyn

I can help, I use Ubuntu 16,04.

[2016-11-09 13:26] jrbenito commented on #234
@miguelpeixe ,

Did you got this using `root` user or regular user? Because you permission does not allow regular users to open the device node on `/dev`.

Also, did  you perform the test using `master` branch on this repo?

Thanks and regards

[2016-11-09 13:31] jrbenito commented on #222
@Lekensteyn ,

Regarding mk220.txt you pointed out, it is a different (newer?) combo with same label name (MK220 - WTF Logitech? Second time I see it, same thing with K270 keyboard and MK270 combo). The MK220 claimed by @joaojotta  uses different receiver `046d:c534` while the mk220.txt pointed in the repo uses `USB id       : 046d:c52e`

This is still related (dup) of #234 and #152

[2016-11-09 13:36] jrbenito commented on #234
@Lekensteyn  and others,

here is the debug:

[code]

Seems related to registers I guess, am I right? Keep looking.

[2016-11-09 16:04] jrbenito commented on #234
Good news!

Based on debug information I could figure out that reading serial number from device is failing (return none due to error). Solaar figures the maximum supported devices through the serial number, so also max_devices properties need to have a value. I cheated by hard coding serial number to zero and max_devices to 2 (this receive supports only two interfaces):

[code]

Solaar now report

[2016-11-09 16:35] Lekensteyn commented on #293
@jrbenito  Ok, I'll put creating a new PPA on my to-do list. Don't expect anything soon though ;)

@ashic I'm closing this because it should supposedly be fixed in the development version (git master branch). If you still experience issues, please reopen.

[2016-11-09 16:35] #293 closed

[2016-11-09 16:35] Lekensteyn commented on #278
This was fixed in e1eee2e078ae986bb2e0947ce5a0ddca888a23ba

[2016-11-09 16:35] #278 closed

[2016-11-09 16:36] Lekensteyn commented on #299
I'll go ahead and close this one, please reopen if you still have issues. Thanks!

[2016-11-09 16:36] #299 closed

[2016-11-09 17:02] Lekensteyn commented on #281
No response, closing. Re-open if you still have issues. Thanks!

[2016-11-09 17:02] #281 closed

[2016-11-09 17:07] Lekensteyn commented on #234
The maximum number of devices is apparently not reliable, see for example #292. I have not seen the situation where the serial number can also not be retrieved, I guess showing zeroes for the serial and printing a warning is better than crashing. Not exactly sure how to handle the maximum though, do we know for sure that the maximum is always 2 for this receiver?

The device name should be retriev

[2016-11-09 17:30] jrbenito commented on #234
@Lekensteyn .

No, we do not know for sure it only supports 2 devices but it is an educated guess based on the fact that, Logitech setpoint software does recognize those 2 devices, all combos at Logitech site are composed by 2 devices and, Logitech unifying windows software does not recognize this receiver (what, IMHO means I cannot pair/unpair devices to it. However, this is still just a guess.

[2016-11-09 17:56] jrbenito commented on #234
@Lekensteyn ,

I withdraw my guess above. Logitech provides a "re-connect software" for the nano receivers and indeed this software allow me to pair new devices. However, I don´t haver other devices to pair so I cannot test if I can connect more than 2 devices. Now it reports 1 keyboard and 1 mouse connect (the combo itself). The software also did not show any serial number for receiver nor for mo

[2016-11-09 18:07] jrbenito commented on #234
[code]

[2016-11-09 18:13] Lekensteyn commented on #234
Would be nice if you can create a pcap of the USB traffic :)

Either capture it using using something like USBPcap on Windows or use a VM as described at https://lekensteyn.nl/logitech-unifying.html

[2016-11-09 18:27] jrbenito commented on #234
I am wondering if this device shouldn´t be bind by 'logitech-djreceiver' driver instead of 'hid_generic`... even the re-connection software has some `DJ API` and `Unifying DLL`

[2016-11-09 20:03] alex9099 commented on #291
If it is corrected i may close it

[2016-11-09 20:18] jrbenito commented on #291
Better to wait it to be merged

[2016-11-09 20:19] alex9099 commented on #291
ok

[2016-11-09 20:27] jrbenito commented on #291
@alex9099 ,

If you want give it a try, clone my repo and checkout UTF8 branch, run solaar from inside.

[2016-11-10 01:15] jrbenito commented on #234
Keyboard was read at home as well

[code]

[2016-11-10 02:20] jrbenito commented on #279
@CaptainSpam and @Lekensteyn ,

Interesting enough I have a M510 and Unifying receiver as your "newer" and I have a Unifying receiver exactly like your "older" receiver. Same results here. I also have a K270 (unifying receiver, it reports HID++ 2.0 - while solaar has a descriptor for a K270 with HID++ 1.0).

Based on that I changed `lib/logitech_receiver/descriptors.py`:

[code]

Notice I have to

[2016-11-10 02:22] jrbenito commented on #153
Is this solved on newer kernels/latest master solaar?

[2016-11-10 11:40] mavosnet commented on #296
Can I help? I have very little experience with git (or GitHub) but I am quite proficient in Python (and Linux in general). If somebody would be so kind as to explain (to a git novice) what needs to be done, I could perhaps have a go at it.

Bottom line: I'm interested in helping out if time permits but don't know what to do.

[2016-11-10 11:42] Lekensteyn commented on #234
Support for `hid-logitech-dj` makes it possible to expose multiple, independent devices. The dmesg shows two devices, one keyboard and one mouse. So unless you pair more than two devices of the same kind, I think it is not needed.

Regarding your earlier question on the letter `B` in the firmware version, I observed this in earlier logs from the Logitech software for my device. It is added in lib/

[2016-11-10 11:52] Lekensteyn commented on #279
Interesting, so the mouse was using HID++ 1.0 before (which was being phased out), but now changed to a newer HID++ version (4.5). I'll ask Logitech, maybe they can provide more details.

[2016-11-10 12:30] Lekensteyn commented on #163
Is this still reproducible? Solaar should not cause this unless something is wrong.

[2016-11-10 12:54] jrbenito commented on #234
Thanks for inputs, I tried to get pcap yesterday night but a thunderstorm made electrical power to oscillate so I gave up. Today I hope do it. If we can figure out other way to differentiate nano receivers from unifying ones would be great since the "max_devices" method is not reliable.

[2016-11-10 12:59] jrbenito commented on #296
@mavosnet,

You can help on open issues and/or reviewing open PRs (look to [issues](https://github.com/pwr/Solaar/issues) and [PRs](https://github.com/pwr/Solaar/pulls) links above).

Also, if you need assistance with git or github I am glad to help. Call me on gitter, e-mail (jrbenito at benito dot com dot br) or here.

[2016-11-10 16:26] jrbenito commented on #279
And K270 (unifying version - remember I also have one not unifying) was introduced to solaar as HID++ 1.0 but, mine is HID++ version 2.0.

For the records, since solaar only handles hipp 1.0 and 2.0, defining M510 with 2.0 on descriptors.py results on the same output.

[2016-11-10 17:18] CaptainSpam commented on #279
@jrbenito : The P/N on the older M510 is 810-001724, and the newer one is 810-004790.  My older M510 lists a PID rather than an S/N, and that is LZ518B4.  The newer one has an S/N of 1630LZ0HVWH8.

[2016-11-10 17:27] jrbenito commented on #279
@CaptainSpam ,

As expected, my M510 is also P/N 810-004790. Likewise my two K270 keyboards that have two different M/N and are different in radio technology. Thanks to Logitech for not documenting this clearly.

Well, we need to differentiate these two M510 by their WPID I guess.

Thanks.

[2016-11-11 01:52] CaptainSpam commented on #279
@jrbenito : Just tested out your code (insofar as it relates to the M510v2), and that seems to do the trick on my end, too, apart from the sidescroll and smoothscroll options, like you mentioned.  That'll do for me, until we learn more about HID++ 4.5.  Thanks!

[2016-11-15 08:43] ralphdd commented on #298
Hi faassen,
what system you use? i use an ubuntu 14.04 with the keyboard k780(solaar version: 0.9.2). And I don't have the option to switch the fn-key. In your infolist above shows something about fn key
Maybe you find a way.

[2016-11-16 19:14] jrbenito commented on #21
Long time has passed. @Lekensteyn , is this still valid?

[2016-11-17 16:33] Lekensteyn commented on #21
I guess that the matching of responses againsts requests should be sufficient.

[2016-11-17 16:33] #21 closed

[2016-11-18 13:38] TheRojam commented on #240
What is a multiseat setup?
BTW for it works very fine. Exept the special key which are not set in xorg.config

[2016-11-18 13:48] TheRojam opened #306 "how to reprog FN-Key on K800"
How to reprogramm the FN on K800?
I didnt find more Information about this?

[2016-11-18 13:54] TheRojam opened #307 "missing feature - thumb button - m705"
If I use the thumb button on my M705 it dies have the same like on macOS named [MissionControl](https://support.apple.com/en-us/HT204100). May you can add a feature like this re can explain how to add it to my openbox/archLinux Setup.

[2016-11-18 14:38] Petross404 commented on #307
Solaar could also make use of libinput in order to adjust and configure button mapping and/or command launch with some rarely used mouse-buttons.

[2016-11-18 16:19] Lekensteyn commented on #307
Can you clarify what you are looking for? What is currently happening and what would you like to see instead?

[2016-11-18 16:20] Lekensteyn commented on #240
Multiseat is where you have multiple users on the same physical system. So two users, each having a different keyboard + screen.

[2016-11-18 16:22] Lekensteyn commented on #306
The original devices using HID++ 1.0 are supposed to be programmable via the GUI (or CLI). Maybe you got a newer version. What is the output of `solaar show`?

[2016-11-18 16:43] jrbenito commented on #240
@fipm,

I can reproduce this behavior with my M510 mouse + K270 keyboard (both unifying). However, it is not 100% and I could not do any debug yet. I confirm that turn off/on does make it show up.

First I thought it was related to the fact my M510 is not being properly recognized due HID++ version upgrade. However, per your description this might not be the case.

[2016-11-18 18:15] Petross404 commented on #307
What I am refering to, is that solaar should act also as a fronted to libinput or xmodmap, in order to re-map some of it's buttons. Let's say that I want my middle click to be the thumb button (Zoom in MX Perfomance) or that another button should start a terminal etc.

Especially under Wayland compositors, that xmodmap isn't working and libinput configuration is kinda difficult, it would be so nic

[2016-11-18 21:22] #291 closed

[2016-11-20 03:52] alfC commented on #282
@kubino Hi, can you tell how you swapped you Fn, what command did you use?

I get this

[code]

[2016-11-20 04:06] correaa opened #308 "Add support for Fn swap for K400 Plus"
K400 Touch seems to be supported but not K400 Plus, it might be a simple device recognition problem.

[code]

[2016-11-20 10:53] Lekensteyn commented on #282
@alfC Presumably it is related to the HID++ version, see #308

[2016-11-20 11:04] Lekensteyn commented on #279
I got some feedback days ago, but only managed to read it now.

Good news is that there is no difference between 4.5 and 2.0. Logitech is trying to phase out their "SetPoint" software in favor of "Logitech Options" and by using different numbers, they can control which software takes control.

Here is a copy of the document: https://lekensteyn.nl/files/logitech/hidpp4-getprotocolversion.txt
@jrben

[2016-11-20 12:13] kubino commented on #282
@alfC  my command is -  solaar/bin/solaar config 0 fn-swap off

but as mentioned above it only worked with latest master branch for me

[2016-11-20 12:16] kubino commented on #282
I did used master at this commit 1edd8a577bade85bbf9e2e3c9591f04caea45931

Not sure how it is with latest one

[2016-11-21 16:48] jrbenito commented on #308
@correaa ,

I don´t have a K400 Plus and never saw one. What kind of configuration does it allow?

[2016-11-21 17:45] jrbenito commented on #308
@correaa ,

What version of solaar did you use? Can you try latest master available in this repo? Refer to #282 , they reported it works on latest master. Let me know your result.

Thanks,

[2016-11-21 17:55] jrbenito commented on #282
@kubino ,

Are you able to test on latest master just to confirm it still work? I did a full diff between 1edd8a5 and master, I think there is nothing there that could break compatibility with K400plus, but a confirmation with real device would be great.

Thanks

[2016-11-21 19:12] correaa commented on #308
@jrbenito , I am using solaar 0.9.2 in Fedora 24. What is the current nominal version?
I wouldn't know how to replace solaar with the development version and I am afraid to break it.

[2016-11-21 19:22] jrbenito commented on #308
@correaa ,

Actually last release is the 0.9.2 but it is outdated. @Lekensteyn is driving a hard work to review open bugs and PRs before we can have a new release. However, you can try use the latest master that seems to have the problem with K400 plus solved as per #282.

If you want to try, close the running instance of Solaar and go to a terminal then type:

[code]

You shall see the solaar gui

[2016-11-21 19:56] jrbenito commented on #279
I did a quick look into 'lib/logitech_receiver/hidpp10.py' and 'lib/logitech_receiver/hidpp20.py' files and my first impression is that 'hidpp20.py' is already looking for everything equal or greater than 2.0 and 'hidpp10.py' is looking for everything less than 1.0. So, no changes necessary.

However, I do need to investigate why side scroll and smoothscroll options are not working.

@CaptainSpam

[2016-11-21 19:59] CaptainSpam commented on #279
@jrbenito : It can indeed, on the older M510.  The newer M510, even with the change you added, can't.

[2016-11-21 20:00] correaa commented on #308
Yes, now it works with the current version pulled from github. The device appears as "Plus" with this info:

[code]

Also, now there is a "Swap Fx function ON/OFF", which closes the issue. I hope the changes are pushed to Fedora quickly.

[2016-11-22 10:07] kubino commented on #282
@jrbenito

yes, just pulled and tried as usual, keys get swapped ;) thx again

[2016-11-22 10:07] TheRojam commented on #306
`
usage: solaar [-h] [-d] [-V]
solaar: error: unrecognized arguments: show
`
F1 open a tab with the startpage in FF.
I want to set the key to different commands

[2016-11-22 10:16] TheRojam commented on #307
@Lekensteyn I want to have to see all my opend windows on the desktop i am working on, like in ![MissionControl.](https://support.apple.com/library/content/dam/edam/applecare/images/en_US/osx/el_capitan-mission_control.png) Mission Control.
See the Picture above to see whats happend by using the thumb (unvisible) button.
_You didn't read the mentioned link from Apple Documentation?_

[2016-11-22 10:40] jrbenito commented on #306
@TheRojam ,

You might be using solaar version provided by your distribution packet manager (.deb or .rpm) right?

In this case you need to run `solaar-cli show'.

Also, please, if you can download latest version from this repository and try we would appreciate. In order to do this, quit solaar, open a terminal and type:

[code]
(or you can download and unzip the [zip package](https://github.com/p

[2016-11-22 10:48] jrbenito commented on #301
Hi @jhonny-oliveira  and @Lekensteyn ,

since this was solved by #302 we can close this ticket. However I don´t have rights for that, could your do this please?

[2016-11-22 11:03] jrbenito commented on #266
yes, if there is no other way.

Maybe is possible to set a custom device kind based on a lookup table of wireless PID for those combos? Or, instead of lookup table for exceptions, when `self.device_kind == device.kind` isn´t true, check a combination of features supported to determine if this is a combo?  I don´t know if this is possible at this level but might be way to go.

[2016-11-22 11:15] jrbenito commented on #162
Hi @cirosantilli , @jhmegorei , @eddie-dunn , @dstensnes ,

I know that K400 plus is supported on master branch (get latest) version as per #308 and #310.

Also, #289 and #290 relates to K400 (I believe same device reported here). @verybadsoldier report that there is FN-Swap for the K400.

Could you please try latest commit on master branch on your devices? It would be good to get a `solaar show`

[2016-11-22 13:43] jrbenito commented on #251
@Lekensteyn or @daveduggan

Let´s close this one!

[2016-11-22 13:44] jrbenito commented on #252
@nebuchar or @Lekensteyn

If solved, let´s close this one.

[2016-11-22 13:45] jrbenito commented on #253
@corebots ,

Could you please use latest master commit and try again? If it still happens, could please post debug output?

Thanks.

[2016-11-22 13:49] jrbenito commented on #246
@LuisDiazUgena ,

Solaar is intended to configure the Logitech devices, make (un)paring. What you are asking is handled by input system. I suggest follow @MagicFab  suggestion.

@Lekensteyn , @LuisDiazUgena

Old and solved, I think we can close this one.

[2016-11-22 13:51] jrbenito commented on #243
@lovrenco,

You shall be able to achieve this by using xbind-keys  and xautomation tools.

[2016-11-22 13:54] jrbenito commented on #241
@hagabla ,

What if you quit solaar and open it again?

Can you please try this on latest master commit? If it still reproduces, could you please post debug information?

Thanks

[2016-11-22 13:57] hagabla commented on #241
@jrbenito Sorry, i am not using logitech equipment any more :-(

[2016-11-22 13:58] jrbenito commented on #238
@Kepro

Could you please try to reproduce on latest master commit? If still reproducible, please post debug information.

Keep in mind that devices goes to standby, if not used, even if power switch is on. Use the mouse and keyboard before issue `solaar show` command. Also, GUI might take few moments to update.

If not reproducible we will close this one.

[2016-11-22 13:59] Kepro commented on #238
sorry, i stop using solaar, because ubuntu can show me a battery stats of my keyboard and mouse

[2016-11-22 14:00] jrbenito commented on #241
@hagabla ,

Please, close this issue I will keep investigating under #240. I don´t have permission to close as you do.

thanks.

[2016-11-22 14:01] #241 closed

[2016-11-22 14:01] jrbenito commented on #238
@Kepro ,

could you please close this issue? I don´t have permission as you do.

Thanks.

[2016-11-22 14:02] #238 closed

[2016-11-22 14:07] jrbenito commented on #234
For the records, I got USB pcap but no time to analyze it.

@Github won´t let me attach it even zipped.

[2016-11-22 14:08] jrbenito commented on #232
@Lekensteyn

Based on your comment above we can close this.

[2016-11-22 14:12] jrbenito commented on #226
@mhalano ,

Does solaar at least shows information about M560? DPI and other device settings is solaar responsibility, however, shortcut buttons are better handled by xbindkeys or similar.

Could you please post output of `solaar show`? If possible using latest master commit.

thanks.

[2016-11-22 14:15] jrbenito commented on #217
@Lekensteyn ,

Let´s close this one? A lot time has passed and clearly Solaar will not find receivers on USB webcams.

[2016-11-22 15:30] jrbenito commented on #205
@Lekensteyn

Still relevant?

[2016-11-22 15:31] jrbenito commented on #198
@krassswr and @Lekensteyn ,

Not in solaar scope, could you please close this?

Thanks

[2016-11-22 15:34] jrbenito commented on #196
@dmaglio ,

Could you please provide more information on this receiver and mouse/keyboard its support? Are you able to try modifications similar to what I describe in #234 and post information?

[2016-11-22 15:36] jrbenito commented on #190
@eduards ,

Are you able to try again with latest master branch commit?

thanks.

[2016-11-22 15:37] jrbenito commented on #189
@MagicFab

Are you able to provide information about receiver? (lsusb)

thanks

[2016-11-22 15:38] jrbenito commented on #189
This receiver is supported on latest master branch.

@MagicFab  or @Lekensteyn

Could you please close this ticket?

Thanks.

[2016-11-22 15:40] jrbenito commented on #187
@bksunday ,

Could you please verify if this is still reproducible on latest master branch commit?

thanks

[2016-11-22 15:41] jrbenito commented on #186
@Lekensteyn

Long time has passed and I believe this could be related with USB/HID Kernel drivers not with Solaar. Since no one is complaining about, can we close this one?

thanks

[2016-11-22 15:42] jrbenito commented on #180
@alchemyx

Is this still reproducible on latest master branch commit?

[2016-11-22 15:46] jrbenito commented on #179
Relates to #219

@JensErat ,

Does latest master branch version solves your problem? If so, could you please close this one?

[2016-11-22 15:49] jrbenito commented on #177
@darnells and @Lekensteyn

Long time has passed, is this bug still valid?

[2016-11-22 15:51] jrbenito commented on #176
@parkerlreed

Is this still valid?

[2016-11-22 15:56] jrbenito commented on #169
@Lekensteyn

While this is weird, long time has passed. Are we going to look into this or just close and revisit if this happens again?

[2016-11-22 16:01] jrbenito commented on #166
@micrococo ,

Still a valid issue?

[2016-11-22 16:03] jrbenito commented on #163
@Lekensteyn

I could not observe this and agree that Solaar does not look guilt. Let´s close this?

[2016-11-22 16:07] jrbenito commented on #157
@Lekensteyn

As mentioned by @benrki , this is already working on  master, let´s close this one.

[2016-11-22 16:08] jrbenito commented on #156
@Lekensteyn

another candidate to be closed.

[2016-11-22 16:09] jrbenito commented on #153
@Lekensteyn

Kernel related, nothing solaar can do right? Let´s close this?

[2016-11-22 16:10] alchemyx commented on #180
Sorry - I don't have MK710 anymore

--
Michał Margula, michal@margula.pl
"W życiu piękne są tylko chwile" [Ryszard Riedel]

Dnia 22.11.2016 o godz. 16:43 Josenivaldo Benito Junior <notifications@github.com> napisał(a):

[2016-11-22 16:10] jrbenito commented on #150
@Lekensteyn and @david-geiger

No point in keep this open. Patches are always welcome.

let´s close this? Thanks.

[2016-11-22 16:13] jrbenito commented on #148
@dikei

I think that M185 has only two battery levels reported (good and bad) hence the jump from 70% to 5%.

[2016-11-22 16:17] jrbenito commented on #137
The logic related to recognition device type is not reliable. We already saw issues with other receivers.

@jpeter01 are you able to gather some debug information if I send modifications to you?

[2016-11-22 16:18] jrbenito commented on #133
@MestreLion @beelze

Still a valid issue?

[2016-11-22 16:19] jrbenito commented on #180
@alchemyx

since we are not able to test, can you please close this issue? We will revisit if someone else report it.
I don´t have permissions as you do.

thanks.

[2016-11-22 16:31] jrbenito commented on #120
@Lekensteyn

Not reproducible. Let´s close this one?

[2016-11-22 16:32] #180 closed

[2016-11-22 16:35] jrbenito commented on #109
@jdorenbush ,

Latest master branch has entries for C517 nano receiver. Can you please try run solaar from latest commit and report if solaar recognize the receiver?

thanks

[2016-11-22 16:36] jrbenito commented on #78
@Lekensteyn and @cdprincipe

Italian translation is already present on latest. Could you please close this issue? I don´t have proper rights.

[2016-11-22 16:39] jrbenito commented on #111
@Lekensteyn  and @nexces

Is this bug still valid?

[2016-11-22 17:19] parkerlreed commented on #148
M570

[code]

M310

[code]

M325

[code]

K520

[code]

upower -d for all

[code]

[2016-11-22 17:24] parkerlreed commented on #176
Yep. Still works for my nano receiver. Only pairs to single device. I think I left it open in hopes of something be tied into Solaar to allow pairing with the nano but with a warning saying only one device.

[2016-11-22 18:00] jpeter01 commented on #137
I have only this one receiver, but I can help to get some information if
you send the modifications.

2016-11-22 17:17 keltezéssel, Josenivaldo Benito Junior írta:

[2016-11-22 19:28] corebots commented on #253
Hello I've sold the k750 recently and have acquired a k800. I don't use the SwapFx function anymore but I shell test it to see how it works with this keyboard yet. Will let you know.
It might be worth to note that on the k800 the function keys in F24 also stop working intermittently, but that shouldn't be Solaar related. Thanks for following up btw.

[2016-11-22 22:16] Lekensteyn commented on #176
Is Solaar reporting that only one device can be paired? (Can you actually press the Pair button or is the option disabled?)

[2016-11-22 22:18] Lekensteyn commented on #111
I'll closing this since it is possible that the problem is fixed with newer kernels/UPower/etc, but please re-open if the problem still occurs. Thanks! (trying to reduce the number of open tickets)

[2016-11-22 22:18] #111 closed

[2016-11-22 22:18] Lekensteyn commented on #78
Will do, I wish I could give you some rights, but @pwr seems busy (did not get a reply to my last mails).

[2016-11-22 22:18] #78 closed

[2016-11-22 22:20] Lekensteyn commented on #109
It always have been there (since 2013), not sure if LX 710 is specfically supported though

[2016-11-22 22:21] Lekensteyn commented on #120
Yay:)

[2016-11-22 22:21] #120 closed

[2016-11-22 22:24] Lekensteyn commented on #133
Should have been fixed by 9a6cdd9cee773b5b315aef81d32f629c48760e5c in the master branch (not 0.9.2), please re-open or comment if that is not the case.

[2016-11-22 22:24] #133 closed

[2016-11-22 22:25] Lekensteyn commented on #153
Yep, users should not hit this on recent kernels

[2016-11-22 22:25] #153 closed

[2016-11-22 22:25] #156 closed

[2016-11-22 22:25] Lekensteyn commented on #157
Thanks for confirming and triaging!

[2016-11-22 22:25] #157 closed

[2016-11-22 22:26] Lekensteyn commented on #150
Yep, contributions like the one from @jrbenito help a lot. Patches welcome! :-)

[2016-11-22 22:26] #150 closed

[2016-11-22 22:27] #163 closed

[2016-11-22 22:30] Lekensteyn commented on #169
Let's close it, I doubt that more progress is made unless somebody starts putting some time into investigating this.

Summary (from what I gathered):
Problem: A receiver with the keyboard paired fails to pair (connect) the Performance MX mouse.
Workaround: pair the mouse first, then the keyboard.

If people have more ideas, feel free to comment/re-open.

[2016-11-22 22:30] #169 closed

[2016-11-22 22:33] Lekensteyn commented on #177
It is a very specific problem which are probably not encountered by the majority of users.

I would expect that the "uaccess" udev tag should work. If not, that would break modern desktops since they rely on this. I'll close this for now, please re-open if you are still having trouble that can be fixed in Solaar.

[2016-11-22 22:33] #177 closed

[2016-11-22 22:33] #186 closed

[2016-11-22 22:35] Lekensteyn commented on #190
Hopefully it is an intermittent problem, if not, please re-open. Thanks!

[2016-11-22 22:35] #190 closed

[2016-11-22 22:36] #198 closed

[2016-11-22 22:37] Lekensteyn commented on #205
Barring new breakthroughs in reverse engineering, I doubt this will be possible and it will probably be out of scope for Solaar.

Enthusiasts with some time are free to comment here thoughj.

[2016-11-22 22:37] #205 closed

[2016-11-22 22:38] #217 closed

[2016-11-22 22:39] Lekensteyn commented on #189
There was another ticket about an issue with a receiver with a single receiver, but I forgot which.

If the problem persists, please re-open/comment. Thanks!

[2016-11-22 22:39] #189 closed

[2016-11-22 22:43] Lekensteyn commented on #243
On the device/protocol level the key actions cannot be reprogrammed. It would require playing with something like xbindkeys. I guess it is too much work at the moment, let's keep it out of scope for Solaar now.

[2016-11-22 22:43] #243 closed

[2016-11-22 22:43] #246 closed

[2016-11-22 22:44] #252 closed

[2016-11-22 22:45] #232 closed

[2016-11-22 22:45] #251 closed

[2016-11-22 22:46] #261 closed

[2016-11-22 22:49] Lekensteyn commented on #266
Maybe we could change this into a warning for now, "kind" is a property that is defined in the HID++ protocol, so adding another "combo" kind seems a bit odd. Patches welcome!

[2016-11-22 22:49] #301 closed

[2016-11-22 22:53] Lekensteyn commented on #307
@TheRojam I did check the link, but was not sure what you change you would like to see in Solaar. (is "dies" also a typo for "does"?)

Is my understanding correct that you would like the remapping functionality that is described by @Petross404 ? At the moment (due to lack of resources (time)), such a feature will not be added anytime soon to Solaar.

[2016-11-22 22:54] Lekensteyn commented on #282
Thanks for confirming!

[2016-11-22 22:54] #282 closed

[2016-11-23 02:45] MagicFab commented on #189
OK to close, I don't have access to this hardware anymore.

[2016-11-23 12:57] jrbenito commented on #137
@jpeter01 ,

I tested with latest master, same receiver as yours, without devices paired to it and could not reproduce any errors:

[code]

Also, solaar does show the receiver in the GUI although it does not show a pairing button.

Are you able to reproduce the error?

[2016-11-23 15:56] jrbenito commented on #279
For the records, modifying the descriptors.py to file to not specify any protocol, wpid or codename for M510 make Solaar correct read my HID++ 2,0 and I guess it will also read @CaptainSpam  old version HID++1.0 without creating any new descriptor. However, this makes it impossible to specify features and registers and they are not guessed. Any suggestion? Adding codenames like: M510mkII is a bit

[2016-11-23 17:32] jrbenito opened #314 "[persistence] Config commands return saved values even on read/write fails"
Solaar is saving configuration settings for every `solaar config ...` command issued even when it failed to write on device. A subsequent read of the setting, that might fail too, will return the saved setting instead of error. This mislead user to believe a feature is set while it is not or vice versa.

## Steps to reproduce:

-No configuration file, issue a config read command `solaar config 1`:

[2016-11-23 18:04] jrbenito opened #315 "Device types and hidpp"
According to document on HID++2.0, https://lekensteyn.nl/files/logitech/logitech_hidpp_2.0_specification_draft_2012-06-04.pdf,  the enum presented on [hidpp10.py](https://github.com/pwr/Solaar/blob/master/lib/logitech_receiver/hidpp10.py#L39-L45) is wrong.

@Lekensteyn do you agree? If so I can correct it.

[2016-11-23 18:16] jrbenito commented on #315
wrong file.

[2016-11-23 18:16] #315 closed

[2016-11-23 18:59] parkerlreed commented on #176
I don't have ti on my at the moment to check. At least when I first tried it was just that error message that I posted earlier. I tried pairing multiple with pair.c and it never did which is where I made the assumption about only being able to pair with 1 device at a time.

[2016-11-24 10:07] Lekensteyn commented on #279
One option is to recognize both HID++ versions, allowing registers and features to co-exist in the description (these are mutually exclusive anyway). One problem with that is that you do not know the supported registers/feature set before enumeration..

[2016-11-24 13:23] jrbenito commented on #279
Following the investigation, I issued `solaar -dd config 1` commad and got (cut):

[code]

The two DEBUG lines are issuing `w[10 01 000D 212000]` to the device, and getting back `r[11 01 000D 00000000000000000000000000000000]` witch is considered failed.

Trying to set the config by issuing `solaar -dd config 1 smooth-scroll on`:

[code]
Again, it receives same error back from the device. Here I s

[2016-11-25 19:28] jrbenito commented on #279
File [log-show.txt](https://github.com/pwr/Solaar/files/613800/log-show.txt) has output from `solaar -dd show 1`
File [log-config.txt](https://github.com/pwr/Solaar/files/613801/log-config.txt) has output from `solaar -dd config 1`

[2016-11-25 20:35] jrbenito commented on #279
I´ve implemented feature LOWRES_WHELL and this set the smooth-scroll for this mouse.

Please, take a look [on my repo](https://github.com/jrbenito/Solaar/commit/f4b565759bab58617d970fa2b4f7313d86a78486)

@Lekensteyn ,

This makes sense? I tested by setting it on Linux, and verifying on windows (without turn mouse off) with Logitech Options. Than I set it to false on windows and verified on Linux i

[2016-11-28 00:46] mhalano commented on #226
[solaar-show.txt](https://github.com/pwr/Solaar/files/615169/solaar-show.txt)

@jrbenito

I cloned the git repository and used the <source dir>/bin/solaar command.

The result of command 'solaar show 1' (to only show mouse) is attached to this issue.

There is a new option in GUI to set smooth scrolling (I really don't know why since is defined by a hardware button only), but not option to set DPI

[2016-11-28 12:05] jrbenito commented on #226
@mhalano,

Does this device support DPI setting? I could not find reference about this. Based on information you posted above, the device does support "smooth scroll" setting (`20: HI RES SCROLLING       {2120}`) but there is no option regarding DPI. Based on current Solaar implementation adjustable DPI setting should be listed by a HID++ 2.0 device as feature `{2201}`; notice that it does not lis

[2016-11-28 12:11] jrbenito commented on #267
@notaduck and @daoswald ,

Could you please add output from `bin/solaar show` using latest version (master latest commit) from this repository?

Thanks.

[2016-11-28 12:31] jrbenito commented on #279
For the records, I tried `xev` and turned on the feature. No button event is generated while with feature off the events are correct generated.

@Lekensteyn any idea?

[2016-11-29 01:11] Lekensteyn commented on #226
The devices cannot be changed to trigger different key events via the HID++ protocol. The features that name reprogrammable keys only provides hints to the software such that it can suggest buttons to be changed. At the moment that seems quite some work and it would be more preferable if there is a generic solution for all devices (so, not implementing it in Solaar).

[2016-11-29 01:16] #125 closed

[2016-11-29 01:20] Lekensteyn commented on #279
@jrbenito I'll have a look at it later, poke me in meantime if I forget about it :-)

Brief comments:

IIRC this means feature index 14h (20) LOWRES WHEEL (feature ID 2130). I will try to request some documentation, are there other features you want to learn about?